  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

   <table border="0" cellspacing="0" cellpadding="2" width="900" summary="Online Journals of the NZ Native Orchid Group">
      <tr>
        <td width="30" valign="top">&#160;</td>
        <td width="826" class="bg" valign="top"><span class="pageheadings3">New Zealand Native Orchid Group Publications Archive</span>
	<P>&#160;</P>
        </tr>	
	</table>
          <br><br>
    <table border="0" cellspacing="0" cellpadding="2" width="900" summary="Online Journals of the NZ Native Orchid Group">
 <p><b>Field guides</b> </p>    

<h6>Hyperlinked items below are available on line only. Those marked *  are available on request only - a charge may be made.</h6>     
<table width = "100%">
<tr>
<td width = "60%" valign="top"></td>
<td width = "25%" valign="top"></td>
<td valign="top"></td>
</tr>

<tr>
<td valign="top"><A href = "Archives/Dorothy_Field_guide.pdf">A field Guide to NZ native orchids (first ed 1981)</a></td>
<td valign="top">D Cooper</td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top">Nature guide to the native orchids of NZ</td>
<td valign="top">St George, I &amp; McCrae, DP *</td>
<td valign="top">1999</td>
</tr>
<tr>
<td valign="top"><a href= "Archives/Field_Guide_1996.pdf">Field guide to the NZ orchids</a></td>
<td valign="top">St George, I ; Irwin, JB;  and Hatch,  ED </td>
<td valign="top">1996</td>
</tr>
<tr>
<td valign="top"><a href= "Archives/Field_Guide_2001.pdf">Field guide to the NZ orchids, 2nd edition</a></td>
<td valign="top">St George, I ; Irwin, JB;  and Hatch,  ED </td>
<td valign="top">2001</td>
</tr>
<tr>
<td valign="top"><A Href= "Archives/Field_Guide_2005.pdf">Field guide to the NZ orchids, 3rd edition</a></td>
<td valign="top">St George, I ; Irwin, JB;  and Hatch,  ED </td>
<td valign="top">2005</td>
</tr>
<tr>
<td valign="top"><a href= "Archives/Colour Field Guide 2009.pdf">Colour Field Guide to Native orchids of New Zealand</a></td>
<td valign="top">St George, I &amp; Scanlen EA </td>
<td valign="top">2009</td>
</tr>
<tr>
<td valign="top">Colour Field Guide to Native orchids of New Zealand 3rd ed</td>
<td valign="top">St George, I &amp; Scanlen EA *</td>
<td valign="top">2011</td>
</tr>
<tr>
<td valign="top">Pocket guide to the New Zealand native orchids</td>
<td valign="top">St George ed *</td>
<td valign="top">2015</td>
</tr>
<tr>
<td valign="top">Pocket guide to the New Zealand native orchids</td>
<td valign="top">St George ed *</td>
<td valign="top">2017</td>
</tr>
<tr>
<td valign="top">Pocket guide to the New Zealand native orchids</td>
<td valign="top">St George ed *</td>
<td valign="top">2020</td>
</tr>
</table>


<p><b>Miscellaneous publications</b> </p>
<p></p>

<table width = "100%">
<tr>
<td width = "60%" valign="top"></td>
<td width = "25%" valign="top"></td>
<td valign="top"></td>
</tr>

<tr>
<td valign="top"><a href="Archives/Gibbs.pdf">An appreciation of New Zealand Native Orchids on the Central Volcanic Plateau</a> (1st ed 1990)</td>
<td valign="top">Gibb M</td>
<td valign="top">1990</td>
</tr>
<tr>
<td valign="top">The NZ orchids: natural history and cultivation.</td>
<td valign="top">St George, I &amp;  McCrae, DP * </td>
<td valign="top">1990</td>
</tr>
<tr>
<td valign="top"><a href="Archives/South Orchids.pdf">Wild Orchids in the Far South of New Zealand</a></td>
<td valign="top">St George </td>
<td valign="top">1992</td>
<tr>
<td valign="top">Bruce Irwin&#8217;s drawings of New Zealand orchids.</td>
<td valign="top">St George, I, Tyler B, &amp; Irwin JB </td>
<td valign="top">2007</td>
</tr>
<tr>
<td valign="top"><a href= "Archives/Colenso's collections 2009.pdf">Colenso&#8217;s Collections of New  Zealand plants held at Te Papa</a></td>
<td valign="top">St George I </td>
<td valign="top">2009</td>
</tr>
<tr>
<td valign="top"><a href= "Archives/Gastrodia-guide-B5-151229.pdf">NZ Gastrodias</a></td>
<td valign="top">Rolfe JR</td>
<td valign="top"></td>
</tr>
<tr>
<td valign="top">Illustrated guide to New Zealand sun orchids</td>
<td valign="top">Rolfe JR &amp; de Lange PJ</td>
<td valign="top"></td>
</tr>
<tr>
<td valign="top"><a href="Archives/Hooker in the Bay of Islands.pdf">Hooker in the Bay of Islands<a></td>
<td valign="top">St George </td>
<td valign="top">2018</td>
</tr>
<td valign="top"><a href="Archives/NZNOG a history.pdf">NZNOG a history of the society<a></td>
<td valign="top">St George </td>
<td valign="top">2022</td>
</tr>
</table>


     
<p><b>Historic series</b></p>     
     
<p><h6>All items in the Historic Series are freely available to download<h6></p>
<table width = "100%">
<tr>
<td width = "60%" valign="top"></td>
<td width = "25%" valign="top"></td>
<td valign="top"></td>
</tr>
<tr>
<td valign="top"> 1. <A Href= "./Archives/Historical_series/01_Colenso on orchids.pdf">Colenso on orchids.</a></td>
<td valign="top">St George I </td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 2. <A Href= "Archives/Historical_series/02_The orchid papers of ED Hatch I.pdf">The orchid papers of ED Hatch I.</a></td>
<td valign="top">St George I </td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 3. <A Href= "Archives/Historical_series/03_The orchid papers of ED Hatch II.pdf">The orchid papers of ED Hatch II.</a></td>
<td valign="top">St George I </td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 4. <A Href= "Archives/Historical_series/04_Cheeseman on orchids.pdf">Cheeseman on orchids.</a></td>
<td valign="top">St George I </td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 5.<A Href= "Archives/Historical_series/05_References & illustrations.pdf">The NZ orchids: references and illustrations.</a></td>
<td valign="top">St George I </td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 6. <A Href= "Archives/Historical_series/06_Orchid extracts from the Matthews correspondence.pdf">Orchid extracts from the Matthews correspondence (ed St George I).</a></td>
<td valign="top">Hatch ED</td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 7.<A Href= "Archives/Historical_series/07_The Hookers on the NZ orchids.pdf">The Hookers on the NZ orchids.</a></td>
<td valign="top">St George I </td>
<td valign="top">1989</td>
</tr>
<tr>
<td valign="top"> 8. <A Href= "Archives/Historical_series/08_Orchids in the Trans I.pdf">Orchids in the Transactions I.</a></td>
<td valign="top">St George I </td>
<td valign="top">1990</td>
</tr>
<tr>
<td valign="top"> 9. <A Href= "Archives/Historical_series/09_Orchids in the Trans II.pdf">Orchids in the Transactions II.</a></td>
<td valign="top">St George I </td>
<td valign="top">1990</td>
</tr>
<tr>
<td valign="top">10. <A Href= "Archives/Historical_series/10_Miscellaneous early writing I.pdf">The orchids of Wellington.</a></td>
<td valign="top">St George I </td>
<td valign="top">1993</td>
</tr>
<tr>
<td valign="top">11. <A Href= "Archives/Historical_series/11_Miscellaneous early writing II.pdf">Miscellaneous early writing on the NZ orchids I. 1769-1832</a></td>
<td valign="top">St George I </td>
<td valign="top">1994</td>
</tr>
<tr>
<td valign="top">12. <A Href= "Archives/Historical_series/12_The orchids of Wellington.pdf">Miscellaneous early writing on the NZ orchids II. 1834-1933</a></td>
<td valign="top">St George I </td>
<td valign="top">1994</td>
</tr>
<tr>
<td valign="top">13 .<A Href= "Archives/Historical_series/13_Bruce Irwin's watercolours.pdf">Bruce Irwin&#8217;s orchid paintings. 1941-56 watercolours of New Zealand native orchids</a></td>
<td valign="top">St George I </td>
<td valign="top">2004</td>
</tr>
<tr>
<td valign="top">14. <A Href= "Archives/Historical_series/14_Matthews & son on orchids.pdf">Matthews &amp; Son on orchids  H.B. Matthews&#8217; manuscript descriptions of New Zealand orchids.</a></td>
<td valign="top">Scanlen EA</td>
<td valign="top">2005</td>
</tr>
<tr>
<td valign="top">15. <A Href= "Archives/Historical_series/15_Owen Gibson's orchid paintings.pdf">Owen Gibson&#8217;s orchid paintings</a></td>
<td valign="top">St George I, Irwin JB, and Smith V</td>
<td valign="top">undated</td>
</tr>
<tr>
<td valign="top">16. <A Href= "Archives/Historical_series/16_Colenso to Balfour.pdf">Colenso to Balfour.</a></td>
<td valign="top">St George I </td>
<td valign="top">2008</td>
</tr>
<tr>
<td valign="top">17. <A Href= "Archives/Historical_series/17_Orchids in black & white HB Matthews.pdf">Orchids in black and white: the orchid photographs of HB Matthews.</a></td>
<td valign="top">St George I, Scanlen EAS</td>
<td valign="top">2008</td>
</tr>
<tr>
<td valign="top">18. <A Href= "Archives/Historical_series/18_Elsie Smith's Stewart Is orchids.pdf">Elsie Smith&#8217;s Stewart Island orchids.</a></td>
<td valign="top">St George I </td>
<td valign="top">2012</td>
</tr>
<tr>
<td valign="top">19. <A Href= "Archives/Historical_series/19_Leicester Kyle NZ Orchids.pdf">Leicester Kyle: the Orchids of New Zealand</a></td>
<td valign="top">St George I </td>
<td valign="top">2012</td>
</tr>
<tr>
<td valign="top">20. <A Href= "Archives/Historical_series/20_Dorothy Jenkin Stewart Island.pdf">Dorothy Jenkin&#8217;s Stewart Island orchids:watercolours and drawings 1930 to 1960</a></td>
<td valign="top">St George I </td>
<td valign="top">2012</td>
</tr>
<tr>
<tr>
<td valign="top">20a. <A Href= "Archives/Historical_series/20a_Dorothy Jenkin 2nd ed.pdf">Dorothy Jenkin&#8217;s Stewart Island orchids: watercolours and drawings 1930 to 1960 2nd ed</a></td>
<td valign="top">St George I </td>
<td valign="top">2020</td>
</tr>
<tr>
<td valign="top">21. <A Href= "Archives/Historical_series/21_Blumhardts & Scott.pdf">The Orchid paintings of Elle &amp; Lydie Blumhardt &amp;  Claire Scott</a></td>
<td valign="top">St George I, Scanlen EAS</td>
<td valign="top">2020</td>
</tr>
<tr>
<td valign="top">23. <A Href= "Archives/Historical_series/NZNOG_a_history.pdf">New Zealand Native Orchid Group History</a></td>
<td valign="top">St George I</td>
<td valign="top">2022</td>
</tr>
</table>    
</td</tr>
</table>

  <!end body

