  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

    <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br />
          Bird Orchids </span><br />
          <br />
          <br /></td>
      </tr>
    </table>


    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>

        <td width ="200" ><div class="c4">
	<a href="Descriptions/Chiloglottis_cornuta.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/S_cornuta_101.jpg" title="Green Bird Orchid - Chiloglottis cornuta" alt="Chiloglottis cornuta" width="164" height="243" border="0"></a></div></td>
        <td width="30">&#160;</td>

        <td width = "200" ><div class="c4"><a href="Descriptions/Chiloglottis_valida.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/S_valida_002.jpg" title="Large Bird Orchid - Chiloglottis valida" alt="Chiloglottis valida" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>

        <td><div class="c4"><a href="Descriptions/Chiloglottis_trapeziformis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/M_trapeziformis_003.jpg" title="Broad Lip Bird Orchid - Chiloglottis trapeziformis" alt="Chiloglottis trapeziformis" width="164" height="243" border="0"></a></div></td>
        <td width="30">&#160;</td>

        <td><div class="c4"><a href="Descriptions/Chiloglottis_formicifera.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/M_formicifera_001.jpg" title="Bird Orchid - Chiloglottis formicifera" alt="Chiloglottis formicifera" width="164" height="243" border="0"></a></div></td>
        <td width="30">&#160;</td>
      </tr>

      <tr>
        <td "width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Chiloglottis_cornuta.html" title="Species Description" class="pslink"><span class="name"><i>Chiloglottis cornuta </i></span></a><br><br>
          
          <span class="description"><p>A common species found in well lit native forests, scrub and pine plantations throughout NZ. <br></p>
         
	<p><b>Key features:</b> pair of broad green leaves and large flower, a few large bead like, shiny calli on labellum.</p></span></div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Chiloglottis_valida.html" title="Species Description" class="pslink"><span class="name"><i>Chiloglottis valida</i></span></i></s><br><br>
          <span class="description"><P>A vagrant from Australia. Found at a few scattered locations in scrub and plantation from Taupo to Queenstown.</p>
	<p><b>Key Features:</b> dark flower with broad petals and few tall callii.</p> </span><br />         
          </div></td>
        <td>&#160;</td>

       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Chiloglottis_trapeziformis.html" title="Species Description" class="pslink"><span class="name"><i>Chiloglottis trapeziformis </i></span></a><br>
         
           <span class="description"><P>A vagrant from Australia. One colony found under exotic pines near Levin in 2001. </p>

	  <p><br /><b>Key features:</b> flower tinged maroon; mass of large, dark maroon calli on the midlobe.</p></span><br />
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Chiloglottis_formicifera.html" title="Species Description" class="pslink"><span class="name"><i>Chiloglottis formicifera </i></span></a><br><br>
          
          <span class="description"<p>A vagrant from Australia. The only NZ specimens were found near Kaitaia from 1900 to 1903. </p>

	<p><b>Key features:</b> labellum appearing to hold a wasp</p></span><br>
	</div></td>

        <td>&#160;</td>
      </tr>

      <tr>
        <td><div><a href="Descriptions/Caleana_minor.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/Sullivania_minor_101.jpg" title="Small Duck Orchid - Caleana minor" alt="Caleana minor" width="164" height="243" border="0"></a></div></td></tr>

	<tr>
       <td width = "200" class="descriptiontextbox2"><div class="c5"><a href="Descriptions/Caleana_minor.html" title="Species Description" class="pslink"><span class="name"><i>Caleana minor </i></span></a><br> <br>

          <span class="description">An Australian vagrant. Only one small colony currently known at Rotorua. Labellum is touch sensitive, and flips down when an insect alights upon it. </p>
	<p><b>Key features:</b> very distinct duck-like flower shape.</p></span>
	</div></td>
	</tr>

    </table>
 
 </div>
  </div>
</div>
