		<tr>
            <td width="39" valign="top">&#160;</td>
           <td width="621" class="top"><P><span class="pageheadings3">NZ Native Orchid Group</span></p><br>
         <p><span class="pageheadings3">Contact Information</span></P>
              <td valign="top">
              <p><img src="scripts/img/NZNOG_Logo.png" alt="NZNOG" width="180" height="182" vspace="15" border="0"></p>
            </td>
		</tr></table>

	<table align = "center">
            <tr>
                  <td width="45">&#160;</td>
                  <td width="500"><b>Chairperson</b></td>
                  <td width="508"><b>Editor</b></td>
                  <td width="508"><b>NZNOG Treasurer</b></td>
                </tr>
                <tr>
                   <td width="45">&#160;</td>
                 <td>Gael Donaghy<br>
                      52 Anne Road<br>
                      Bellevue<br>
                      Tauranga 3110<br>
                      New Zealand<br>
                      Email: 
                      <script type="text/javascript" src="scripts/em_Chair.js">
                      </script>
                    </span></td>
                  
                  <td>Ian St George<br>
                    32 Hawkestone Street<br>
                    Thorndon<br>
                    Wellington 6011<br>
                    New Zealand<br>
                    Email: 
                    <script type="text/javascript" src="scripts/em_Edit.js">
                    </script>
                  </td>
                   <td>Pam Shearer<br>
                  P O Box 46196<br>
                  Herne Bay<br>
                  Auckland 1147<br>
                  New Zealand <br>
                    Email: 
                    <script type="text/javascript" src="scripts/em_Treas.js">
                    </script>
                  </td>
              <tr>
            <td width="45">&#160;</td>
            <td width="280">
             
             <p><b>Books &amp; Publications</b></p>
              <p>Gael Donaghy:
                <script type="text/javascript" src="scripts/em_publications.js"></script></p>

            </td><td width="250">
              <p><b>Subscriptions</b></p>
              <p>Graeme Jane:
                <script type="text/javascript" src="scripts/em_Mbrships.js"></script></p>
		
            </td><td width="250">
              <p><b>Website</b></p>
               <p>Bill Campbell: 
               <script type="text/javascript" src="scripts/em_WebM.js"></script></p>

  	</td></tr>
 <td></td><td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Content">
                  <tr>
                 <td width="3%">&nbsp;</td>
                 <td width="95%"><p class="boldbody">Copyright Information</p>
                 <p>All images remain copyright of the named photographer. </p>
                 <p>The images are available for private use and school projects. </p>
                 <p>Images can be used in research papers provided the photographer <br>
                 is acknowledged (and the NZ Native Orchid Group as the source).</p>
                 <p>Requests for all other use (such as in printed publications and display <br>
                  on other websites) must be made to the NZ Native Orchid Group. </p>    
              </td>
              </tr>
          </table>
</td></tr></table>
