  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

    <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br>
          Epiphytic Orchids </span><br>
          <span class="tagline2">Perching on Trees and Rocks </span><br>
          <br /></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
	<tr>
     <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Taeniophyllum_northlandicum.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Taeniophyllum_01.jpg" alt="Taeniophyllum norfolkianum" title="Taeniophyllum northandicum" alt="Taeniophyllum norfolkianum" width="164" height="243" border="0"></a></div></td>
          <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

	<tr>
       <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Taeniophyllum_northlandicum.html" title="Species Description" class="pslink"><span class="name"><i>Taeniophyllum northlandicum</i></span>
          <br>
          <span class="description"><p><b>Habitat:</b> Seen only twice, once near Kaitaia on feijoa and near Waipu on gorse.<br><br></p>
	  <p><b> Key features:</b> Completely leafless, just green roots and seed pods or flowers.</p> </span><br>
          <br><br></div>
	</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
  
	</tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Bulbophyllum_pygmaeum.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/I_pygmaeum_bob.jpg" title="Pygmy Tree Orchid - Bulbophyllum pygmaeum" alt="Bulbophyllum pygmaeum" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Bulbophyllum_tuberculatum.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/A_tuberculatum_flower_03.jpg" title="Bulb Leaf Orchid - Bulbophyllum tuberculatum" alt="Bulbophyllum tuberculatum" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Drymoanthus_adversus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Drymoanthus_adversus_008.jpg" title="Fleshy Tree Orchid - Drymoanthus adversus" alt="Drymoanthus adversus" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Drymoanthus_flavus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/D_flavus_eric_01.jpg" title="Spotted Fleshy Tree Orchid - Drymoanthus flavus" alt="Drymoanthus flavus" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Bulbophyllum_pygmaeum.html" title="Species Description" class="pslink"><span class="name"><i>Bulbophyllum pygmaeum</i></span></a><br>
           <span class="description"><P><b>Habitat:</b> lowland, in damp, open forest and scrub; on tree trunks and branches, sometimes on rocks or cliffs. Throughout. </p>
		<p><b>Key features:</b> often dense mats of tiny hairy leaves attached to a bulb.</p></span><br>
          <br>
         </div></td>
        <td>&#160;</td>

        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Bulbophyllum_tuberculatum.html" title="Species Description" class="pslink">
          <span class="name"><i>Bulbophyllum tuberculatum </i></span></a><br>

	  <span class="description"><p><b>Habitat:</b> sparse in lowland kauri or podocarp forest on large trees, often high in the canopy. South to Nelson.</p>
 	  </p><b>Key Features:</b> Small clumps of bulbs with a hairless leaf sticking out from the stem. </p></span><br>
          <br>
	</div></td>
        <td>&#160;</td>

        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Drymoanthus_adversus.html" title="Species Description" class="pslink"><span class="name"><i>Drymoanthus adversus </i></span></a><br>
          <br />
          <span class="description"><p><b>Habitat:</b> on a wide range of host trees and on rocky outcrops; from lowland to subalpine forest.</p>
	<p><b>Key features:</b> white roots leading from a clump of leaves sticking out from the stem or surface; leaves unspotted, flowers spotted.
 	</p></span>
          <br>
         </div></td>
        <td>&#160;</td>

        <td width= "200" class="descriptiontextbox"><div class="c5"><span class="name"><a href="Descriptions/Drymoanthus_flavus.html" title="Species Description" class="pslink"><span class="name"><i>Drymoanthus flavus </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> on a range of host trees. Widespread. </p>
		<p><br><b>Key features:</b> white roots leading from a clump of leaves sticking out from the stem or surface; leaves spotted,  flowers un-spotted. </p> </span>
          <br>
	</div></td>
      </tr>
      <tr>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Earina_autumnalis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/E_autumnalis_2011_010.jpg" title="Easter Orchid - Earina autumnalis" alt="Earina autumnalis" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Earina_aestivalis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/E_aestivalis_1.jpg" title="Bamboo Orchid - Earina aestivalis" alt="Earina aestivalis" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Earina_mucronata.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Earina_mucronata_2011_011.jpg" title="Peka-a-waka - Earina mucronata" alt="Earina mucronata" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Dendrobium_cunninghamii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Winika_2011_002.jpg" title="Ladies Slipper Orchid - Dendrobium cunninghamii" alt="Dendrobium cunninghamii" width="164" height="243" border="0"></a></div></td>
      </tr>

      <tr>
        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Earina_autumnalis.html" title="Species Description" class="pslink"><span class="name"><i>Earina autumnalis </i></span></a><br>
          <br>
         <span class="description"><p><b>Habitat:</b> common on a wide range of trees and shrubs; sometimes on rocks in scrub. Thrives in deep shade.</p>
	  <p><b>Key features:</b> masses of strongly perfumed flowers on unbranched stems, leaves short and stout. </p></span><br>
         <br></div></td>
        <td>&#160;</td>

        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Earina_aestivalis.html" title="Species Description" class="pslink"><span class="name"><i>Earina aestivalis </i></span></a><br>
          </br>
          <span class="description"><p><b>Habitat:</b> mainly coastal. Throughout.</p><br>
	  <p><b>Key features:</b> short column and broad channelled leaves on long unbranched stems.</p> </span>
          <br> <br>
	 </div></td>
        <td>&#160;</td>

        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Earina_mucronata.html" title="Species Description" class="pslink"><span class="name"><i>Earina mucronata </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> a common epiphyte on trees, shrubs, rocks and clay under scrub, often with E. autumnalis.</p>
 	  <p><b> Key features:</b> flowers non or weakly scented on long unbranched stems, leaves narrow, spring flowering.</p><br></span> <br>
         </div></td>
        <td>&#160;</td>

        <td width= "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Dendrobium_cunninghamii.html" title="Species Description" class="pslink"><span class="name"><i>Dendrobium cunninghamii</i></span></a>
          <br>
          <span class="description"><p><b>Habitat:</b> often high up but also on rocks and the ground in open scrub.<br><br></p>
	  <p><b> Key features:</b> large flower and masses of finely branched stems.</p> </span><br>
          <br><br></div>
	</td>
      </tr>
  <!end body
</tr>
</table>
 </div>
  </div>
</div>

