  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">
    <table width="890" border="0" align="center" summary="Page Title" cellspacing="0" cellpadding="0">
      <tr>
        <td><p><span class="pspagetitle">Large Grass-leaved Greenhood Orchids</span></p></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
  
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_cardiostigma.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_cardiostigma_flower_18Nov04.jpg" title="Greenhood - Pterostylis cardiostigma" alt="Pterostylis cardiostigma" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_australis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_australis.jpg" title="Greenhood - Pterostylis australis" alt="Pterostylis australis" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_banksii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_banksii_flower_05.jpg" title="Tutukiwi - Pterostylis banksii" alt="Pterostylis banksii" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_oliveri.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_oliveri_2.jpg" title="Olivers Greenhood - Pterostylis oliveri" alt="Pterostylis oliveri " width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td "width = 200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_cardiostigma.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis cardiostigma </i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> lowland to subalpine, damp scrub and forest. South to Hokitika. <br></p>
		<p><b>Key features:</b> upright stance of reddish plant with leaves prominently clasping the stem, labellum poking out from the small aperture between the tepals, 
		heart-shaped stigma. </p></span>
		</div></td>
        <td>&#160;</td>
 
        <td "width = 200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_australis.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis australis<i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> mature lowland to montane moist scrub and open forest. East Cape southwards. </p>
		<p><b>Key features:</b> very large flower, short tips to the tepals, rather broad, rounded leaves. </p></span><br>
          </div></td>
        <td>&#160;</td>
        <td "width = 200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_banksii.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis banksii </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> lowland to montane, damp scrub or well lit forest. Throughout.<br><br></p>
		<p><b>Key features:</b> very large, common, narrow, pointed leaves and long tips to dorsal and lateral sepals. </p></span><br>
   
        <td>&#160;</td>

        <td "width = 200" valign="top" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_oliveri.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis oliveri </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> montane to sub-alpine, open scrub and low forest, often on limestone or marble. NW Nelson soth to Arthurs Pass. </p>
		<p><b>Key features:</b> large flower, strongly in-curled dorsal sepal, thin crinkly leaves. </p></span><br><br>
	</div></td>
      </tr>
	<tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_patens.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_patens_702.jpg" title="Greenhood - Pterostylis patens" alt="Pterostylis patens" width="164" height="243" border="0"></a></div></td>
        <td width="30">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_humilis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_humilis_plant_02.jpg" title="Greenhood - Pterostylis humilis" alt="Pterostylis humilis" width="164" height="243" border="0"></a></div></td>
        <td width="30">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_venosa.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_venosa_03.jpg" title="Greenhood - Pterostylis venosa" alt="Pterostylis venosa" width="164" height="243" border="0"></a></div></td>
       <td width="30">&#160;</td>
 
        <td width="200" nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_micromega.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_micromega_2.jpg" title="Swamp Greenhood - Pterostylis micromega" alt="Pterostylis micromega" width="164" height="243" border="0"></a></div></td>
	</tr>

	<tr>
        <td "width = 200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_patens.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis patens </i></span></a>
         
	<span class="description"><p><b>Habitat:</b> lowland to montane open forest and scrub. East Cape to Westland. <br><br></p>
		<p><b>Key features:</b> large flower with recurved dorsal sepal rearward pointing lateral sepals and red tipped labellum. </p></span>
 	</div></td>
        <td>&#160;</td>

        <td valign="top" "width = 200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_humilis.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis humilis </i></span></a><br>
         <span class="description"><p><b>Habitat:</b> high rainfall montane and subalpine scrub and grassland. Central North Is to Westland.</p>
	<p><b>Key features:</b> alpine habitat, very stout flower, heart-shaped stigma. </p></span>
          </div></td>

        <td>&#160;</td>
        <td valign="top" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_venosa.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis venosa </i></span></a><br>
           <span class="description"><p><b>Habitat:</b> montane mossy forest, scrub and short grassland. Urewera southwards.<br></p>
		<p><b>Key features:</b> medium-sized flower above close-spaced broad leaves, stigma oblong, labellum furry, montane to alpine plants. </p><br></span>
          </div></td>
         <td>&#160;</td>

      <td width = "200" valign="top" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_micromega.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis micromega</i></span></a><br><br>
        <span class="description"<p><b>Habitat:</b> lowland to montane wetlands, stream edges and bogs. Waikato to Nelson.  </p>
		<p><b>Key features:</b> wetland habitat,  large flower with large white areas and long smooth curve of the dorsal sepal.</p></span>
         </div></td>
	</tr>
<! End original text

    </table>

    <table width="890" border="0" align="center" summary="Page Navigation">
      <tr>
        <td width="300"><a href="Greenhood_Orchids_3.html" class="boxlink5">Rosetteded greenhoods</a></td>
        <td width="200" align="center"><a href="Greenhood_Orchids_Key.html" target="_self" class="boxlink5">Greenhood Orchids Key</a></td>
        <td width="300" align="right"><a href="Greenhood_Orchids_2.html" target="_self"  class="boxlink5">Medium-sized Greenhoods</a></td>
      </tr>
     </table>
  </div>
  </div>
</div>

