<tr>
<td><span class="pspagetitle"> Rosetted Greenhood Orchids</span> </td</tr>
<tr><td>plants with a rosette and a separate flowering stem
 </td</tr></table>

    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_alobula.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Diplodium_alobulum_23Aug2012_01.jpg" title="Winter Greenhood - Pterostylis alobula" alt="Pterostylis alobula" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_trullifolia.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/D_trullifolium_flower_02.jpg" title="Trowel Leaved Greenhood - Pterostylis trullifolia" alt="Pterostylis trullifolia" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_alveata.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/D_alveatum_flower_02.jpg" title="Greenhood - Pterostylis alveata" alt="Pterostylis alveata" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_brumalis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_brumalis_large3.jpg" title="Kauri Greenhood - Pterostylis brumalis" alt="Pterostylis brumalis" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_alobula.html" title="Species Description" class="pslink">
	<span class="name"><i>Pterostylis alobula</i></span></a><br>
  
           <span class="description"><p><b>Habitat:</b> lowland scrub and well lit forest. Northland to Banks Peninsula.Widespread, common. </p>
		<p><b>Key features:</b> presence of rosette and flowering stages, very small flower, lateral sepals incurved at junction to give toothless look. </p></span><br>
          </td>
        <td>&#160;</td>

       <td width = "200" class="descriptiontextbox"><div class="c5"><span class="name"><i>Pterostylis trullifolia </i></span></a><br>
                 
          <span class="description"><p><b>Habitat:</b> lowland to montane, light scrub and forest. Northland to Nelson and Marlborough Sounds. </p>
		<p><b>Key features:</b> presence of rosette and flowering stages, very small flower, lateral sepals rolled outwards at junction to give pouting look. </p></span><br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_alveata.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis alveata </i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> lowland poor soils in hard beech, manuka and gorse. Wellington to Nelson, local, rare. </p>
		<p><b>Key features:</b> small flower and large rounded first year leaves, thickened, jutting junction to sepals, broad petals. </p></span><br>
          <br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_brumalis.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis brumalis</i></span></a><br>
          
           <span class="description"><p><b>Habitat:</b> in the immediate vicinity of the kauri. Northland to Waikato. Widespead, common. </p>
		<p><b>Key features:</b> small flowered, plants with rosette stage, rosettes usually on a distinct stem. </p></span><br>
          <br>
          </div></td>
       </tr>
</TABLE>

 
   <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
 <td>plants with a rosette producing a flowering stem</td></tr>

	<tr>
       <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
      </tr>
      <tr>
        <tr>
	<td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_puberula.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/L_puberula_flower_eric.jpg" title="Snail Greenhood - Pterostylis puberula" alt="Pterostylis puberula" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_tanypoda.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/H_tanypodus_eric01.jpg" title="Swan Greenhood - Pterostylis tanypoda" alt="Pterostylis tanypoda" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_tristis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/H_tristis_flower_eric.jpg" title="Midget Greenhood - Pterostylis tristis" alt="Pterostylis tristis" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_tasmanica.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_tasmanicum_002.jpg" title="Bearded Greenhood - Pterostylis tasmanica" alt="Pterostylis tasmanica" width="164" height="243" border="0"></a></div></td>
      </tr>

      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_puberula.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis puberula </i><br></span></a><br>
          
          
          <span class="description"><p><b>Habitat:</b> under open scrub and sedges. Northland to Nelson; local, rare.</p>
		<p><b>Key features:</b> small plant with a distinctive rosette, stubby flower and beady stem. <br></p></span><br><br>
          <br>
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_tanypoda.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis tanypoda</i></span></a><br>
         <br>
          
          <span class="description"><p><b>Habitat:</b> montane grassland in short turf, often with Hieracium. Nelson southwards. </p>
		<p><b>Key features:</b> plant with a basal rosette, presence of several small greenish flowers, very stout tepals, labellum callus points outwards. </p></span><br>
          </td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_tristis.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis tristis</i></span></a><br>
          <br>
         
          <span class="description"><p><b>Habitat:</b> open grassland in short turf, often wetter areas or more shaded slopes, often with Hieracium. Marlborough to Otago.</p>
		<p><b>Key features:</b> small plant with a basal rosette, several small, usually brownish, flowers, labellum callus pointed inwards. </p></span>
          <br>
          </td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_tasmanica.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis tasmanica</span></span></a><br><br>
          
          <span class="description"><p><b>Habitat:</b> winter wet gumland scrub; often with sedges. Northland to Nelson. Local, rare. </p>
		<p><b>Key features:</b> very distinct with the hairy, pendulous labellum.</p></span><br>
          <br>
          </div></td>
      </tr>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="30" nowrap="nowrap">&#160;</td>
</table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">

	<tr>
        <td width="200" nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_foliata.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_foliata_Flower_03.jpg" title="Slender Greenhood - Pterostylis foliata" alt="Pterostylis foliata" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="200" nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_nutans.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_nutans_flower_01.jpg" title="Nodding Greenhood - Pterostylis nutans" alt="Pterostylis nutans" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="30" nowrap="nowrap">&#160;</td>
     
	<tr>
	</tr>

	<tr>
        <td valign="top" width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_foliata.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis foliata</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> Lowland; grassland and open scrub, track sides and well lit forest or scrub. Waikato to Otago. </p>
		<p><b>Key features:</b> basal rosette, long stem and broad curved dorsal sepal with blunt tip.  </p></span><br>
          <br>
          </div></td>
       <td width="30" nowrap="nowrap">&#160;</td> 

       <td valign="top" width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_nutans.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis nutans</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> clay areas beneath light scrub. Not currently known, last recorded near Taupo, Australian vagrant.</p>
		<p><b>Key features:</b> medium sized flower turned upside down, broad-leaved rosette of undulation leaves.</p></span>
          <br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td width="30" nowrap="nowrap">&#160;</td>

	</tr>

     </table>
    <table width="890" border="0" align="center" summary="Page Navigation">
      <tr>
        <td width="300"><a href="Greenhood_Orchids_2.html" class="boxlink5">Medium Greenhoods</a></td>
        <td width="200" align="center"><a href="Greenhood_Orchids_Key.html" target="_self" class="boxlink5">Greenhood Orchids Key</a></td>
        <td width="300" align="right"><a href="Greenhood_Orchids_1.html" class="boxlink5">Large Greenhoods</a></td>
      </tr>
    </table>
  </div>
  </div>
</div>

