  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">
	<p><span class="pspagetitle">Medium-sized Greenhoods </span></p>         

    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_silvicultrix.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_silvicultrix_plants.jpg" title="Greenhood - Pterostylis silvicultrix" alt="Pterostylis silvicultrix" width="164" height="243" border="0"></a></div></td>
         <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_montana_hatch.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_montana_eric.jpg" title="Greenhood - Pterostylis montana" alt="Pterostylis montana" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_auriculata.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_auriculata.jpg" title="Greenhood - Pterostylis auriculata" alt="Pterostylis auriculata" width="164" height="243" border="0"></a></div></td>
         <td>&#160;</td>
        <td width="200" nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_areolata.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_areolata_flower_01.jpg" title="Greenhood - Pterostylis areolata" alt="Pterostylis areolata" width="164" height="243" border="0"></a></div></td>

      </tr>
        <td "width = 200" valign="top" class="descriptiontextbox"><div class="c5">
	<a href="Descriptions/Pterostylis_silvicultrix.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis silvicultrix</i></span></a><br><br>
          
          <span class="description"><p><b>Habitat:</b> shaded forest, under <i>Dicksonia fibrosa</i> and restiad bogs.</p>
		<p><b>Key features:</b> Chatham Is species, large flowered, labellum, broad twisted at the tip, lateral sepals curled forwards. </p></span><br>
           </div></td>
        <td>&#160;</td>
       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_montana__Hatch.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis montana </span></i>(Hatch)</span></a><br>
          
         <span class="description"><p><b>Habitat:</b> forest, scrub, grassland, wetlands. Waikato southwards, widespread local. </p>
		<p><b>Key features:</b> lateral sepals taller than labellum and rolled, stigma elongate. </p></span><br> <br>
		</div></td>
         <td>&#160;</td>

       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_auriculata.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis auriculata</i></span></a><br>
          <br>
           <span class="description"><p><b>Habitat:</b> heavily shaded forest. Southland, common.</p>
		<p><b>Key features:</b> medium sized flower, broad arching leaves, lateral sepals flat below and above their junction but tips rolled, reddish.  </p></span><br>
          </div></td>
        <td>&#160;</td>

       <td valign="top" width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_areolata.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis areolata </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> grass or light scrub, lowland to montane. Throughout South Is. </p>
		<p><b>Key features:</b> down-turned tip to dorsal sepal, sharply recurved sepals, wide gape and broad leaves. </p></span><br>
          </td>

	</tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_irsoniana.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_irsoniana_08.jpg" title="Greenhood - Pterostylis irsoniana" alt="Pterostylis irsoniana" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_irwinii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_irwinii_p001.jpg" title="Greenhood - Pterostylis irwinii" alt="Pterostylis irwinii" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_porrecta.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_porrecta_fl_eric.jpg" title="Shrimp Flowered Greenhood - Pterostylis porrecta" alt="Pterostylis porrecta" width="164" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_agathicola.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_agathicola_flower_02.jpg" title="Kauri Greenhood - Pterostylis agathicola" alt="Pterostylis agathicola" width="164" height="243" border="0"></a></div></td>
	</tr>

	<tr>
       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_irsoniana.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis irsoniana </i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> lowland to subalpine open scrub and forest. East Cape to Westland. </p>
		<p><b>Key features:</b> flower medium sized, prominently stripey and often highly coloured, labellum protruding with a curled tip ending in a callus. </p></span><br>
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_irwinii.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis irwinii</i></span></a><br>
        
          <span class="description"><p><b>Habitat:</b> damp ground in light scrub or forest often on fertile soils, limestone and volcanic. Central North Is to Nelson and Marlborough.</p>
		<p><b>Key features:</b> medium sized flower with straight lateral sepals crossing the dorsal sepal.</p></span><br>
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_porrecta.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis porrecta</i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> shaded forest floor, typically in areas of base rich rocks. Waikato to Southland.</p>
		<p><b>Key features</b>: small flower, lateral sepals hanging below the dorsal sepal. </p></span><br><br>
          </div></td>
        <td>&#160;</td>

       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_agathicola.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis agathicola </i></span></a><br>
          
          <span class="description"><p><b>Habitat:</b> lowland: common only in kauri forest or remnants. Northland to Bay of Plenty.</p>
		<p><b>Key features:</b> associated with kauri, medium sized nodding flower, upturned dorsal tip.</p></span><br>
          </div></td>

	</tr> 
	<tr>
        <td width="200" nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_cernua.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_cernua.jpg" title="Greenhood - Pterostylis cernua" alt="Pterostylis cernua" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_paludosa.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/P_paludosa_eric.jpg" title="Swamp Greenhood - Pterostylis paludosa" alt="Pterostylis paludosa" width="164" height="243" border="0"></a></div></td>
        <td width="30">&#160;</td>
         <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Pterostylis_graminea.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Pterostylis_graminea_2011_006.jpg" title="Grass Leaved Greenhood - Pterostylis graminea" alt="Pterostylis graminea" width="164" height="243" border="0"></a></div></td>


	</tr>

	<tr>
         <td valign="top" width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_cernua.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis cernua</span></i></a><br>
          
          <span class="description"><p><b>Habitat:</b> Sphagnum moss, wet open forest areas and scrub. Westland.</p>
		<p><b>Key features:</b> medium sized, nodding flower, labellum dark green, protruding, with a central dark callus ridge. </p></span><br>
          </div></td>
        <td>&#160;</td>
 
       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_paludosa.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis paludosa </i></span></a><br>
          <span class="description"><p><b>Habitat:</b> lowland to montane peaty wetlands, bog loving. Waikato to Ruahines. </p>
		<p><b>Key features:</b> plants of wetlands. Small, pale yellowish plants, stout in leaf and flower, stigma heart-shaped. </p></span><br>
          </td>
        <td>&#160;</td>

 
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Pterostylis_graminea.html" title="Species Description" class="pslink"><span class="name"><i>Pterostylis graminea </i></span></a><br>
          
         <span class="description"><p><b>Habitat:</b> lowland to montane, light forest and scrub. Throughout. </p>
		<p><b>Key features:</b> relatively small flower on a slender stem and long, narrow, shiny dark green leaves. </p></span><br>
          </div></td>
	</tr>
 <! End original text

   </table>
      <table width="890" border="0" align="center" summary="Page Navigation">
      <tr>
         <td width="300"><a href="Greenhood_Orchids_1.html" class="boxlink5">Large Greenhoods</a></td>
        <td width="200" align="center"><a href="Greenhood_Orchids_Key.html" target="_self" class="boxlink5">Greenhood Orchids Key</a></td>
        <td width="300" align="right"><a href="Greenhood_Orchids_3.html" target="_self"  class="boxlink5">Rosetteded Greenhoods</a></td>

      </tr>
     </table>


   </div>
  </div>

</div>

