  <div id="content">
  <div><img height="2" src="Graphics/greydot3.gif" width="100%" alt=""></div>
  <div id="c1">
    <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br>
          Greenhood Orchid variations</span><br>
          <br></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Greenhood_Orchids_1.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_banksii_2010_002.jpg" title="large Greenhoods" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Greenhood_Orchids_2.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_irwinii_p001.jpg" title="medium Greenhoods "  width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Greenhood_Orchids_3.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/Diplodium_alobulum_23Aug2012_03.jpg" title="rosetted Greenhoods" alt="Pterostylis brumalis" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Greenhood_Orchids_3.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
	<img src="Photos/P_tasmanicum_002.jpg" title="rosetted Greenhoods" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5">
	<a href="Greenhood_Orchids_1.html" class="pslink"><span class="name">Large Greenhoods </span></a><br>
           <span class="description"><p><b>Key features:</b> plants without a distinct rosette leaves, medium to large often with narrow grassy leaves and a single large flower.
	Lateral sepals often long acuminate and held erect reaching well above the dorsal sepal, or in various recurved positions.</p>
         </div></td>
        <td>&#160;</td>

       <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Greenhood_Orchids_2.html" title="Species Description" class="pslink"><span class="name">Medium Greenhoods</span></a>
	<span class="description"><p><b>Key features:</b> plants without roseete stage, usually narrow_leaved, flowers less than half the size of <i>Pterostylis banksii</i>, 
		sepals usually quite shortly acuminate, scarcely curled or recurved.</p><br></span><br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Greenhood_Orchids_3.html" title="Species Description" class="pslink"><span class="name">Rosetted Greenhoods</span></a><br>
 		<span class="description"><p><b>Key features:</b> small plants with a distinct broadleaved rosette and an erect stem with bract-like leaves and a small flower. Often in large colonies</p><br></span><br>
          <br>
          
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Greenhood_Orchids_3.html" title="Species Description" class="pslink"><span class="name">Other Greenhoods </span></a><br>
           <span class="description"><p><b>Key features:</b> plants with rosette stage, flowering stem with small bracts and one or more flowers, the labellum quite variable between species. </p><br></span><br>
	</div></td>
       </tr>
</TABLE>

    </table>
  </div>
  </div>
</div>

