  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">
    <table width="900" border="0" cellpadding="2" cellspacing="0" align="center" summary="Page layout">
      <tr>
        <td width="30" valign="top">&nbsp;</td>
        <td width="815" class="top">
          <span class="pageheadings3">Habitats</span>
          <br /><br />
          <p class="intro4">The habitats of  Native Orchids are almost as varied as the plants themselves. <br />
          They can be found  from coastal areas through to the alpine zone. <br />
          Listed below are the most common orchid habitats. </p></td>
        <td width="43" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Page Content">
          <tr>
            <td class="cellgap">&#160;</td>
            <td>&#160;</td>
            <td>&#160;</td>
          </tr>
          <tr>
            <td width="46%"><span class="habitats4">Scrubland </span></td>
            <td width="11%">&#160;</td>
            <td width="43%"><span class="habitats4">Lowland Native Forest </span></td>
          </tr>
          <tr>
            <td><img src="Graphics/scrub.jpg" width="265" height="186" border="0" vspace="16" alt="Scrubland" /></td>
            <td>&#160;</td>
            <td><img src="Graphics/forest2.jpg" width="265" height="186" border="0" vspace="16" alt="Lowland Native Forest" /></td>
          </tr>
          <tr>
            <td valign="top"><p>This is one of their favoured habitats, particularly in open areas beneath Manuka and Kanuka.</p>
              <p class="body">Here it's fairly easy to find a wide variety of Sun Orchids, various Caladenia, Gnat Orchids, the small forms of Leek Orchid, Onion Orchids, as well as certain species of Greenhood and Spider Orchid.</p>
              <p class="body">Good examples of this environment can be found at Albany Scenic Reserve near Auckland, Rainbow Mountain near Rotorua, and the Puffer Track at Kaitoke near Wellington.</p>
              <p><b>Scrubland Orchids Include: </b> <p>
<table><tr><td width = "50%"valign ="top"><i>                
Acianthus sinclairii<br>
Caladenia atradenia<br>
Caladenia cholostyla<br>
Caladenia minor<br>  
Caladenia variegata<br>
Corybas cheesemanii<br>   
Corybas cryptanthus<br>   
Corybas oblongus<br>   
Corybas trilobus agg<br>
Cyrtostylis rotudufolius<br>
Calochilus robertsonii<br>
Calochilus paludosus<br>
Gastrodia minor<br>
</i></td><td><i> 
Genoplesium species<br>
Microtis species<br>   
Orthoceras novae zeelandiae<br>   
Prasophyllum colensoi<br>   
Pterostylis alobula<br>   
Pterostylis trullifolia<br>   
Pterostylis foliata<br>   
Pterostylis graminea<br>   
Pterostylis montana<br>   
Pterostylis puberula<br>    
Pterostylis tasmanica<br>   
Thelymitra longifolia
<br> 
<i></td></tr></table> 

             <br />
                <span class="habitats4b">Kauri Forest </span><br />
                <span class="body">Two species of Greenhood ( </span> <i>Pterostylis agathicola and Pterostylis brumalis</i>) are confined to this type of forest. Kauri forest also contains a wide selection of the other forest dwelling species.</p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">It's possible to see the bush dwelling species in just about all of the natural forest environments, except for the darkest stands, or those with a dense ground covering of fern.</p>
              <p class="body">Orchids prefer a reasonable amount of light, therefore the edges of tracks make an ideal location for them.</p>
              <p class="body">Most Greenhood species are forest dwellers, along with many of the Spider Orchids, the Epiphytic Orchids, Chiloglottis, some Caladenia, and the Potato Orchids. Adenochilus is confined almost solely to Beech Forest.</p>
              <p class="body">For those living in Auckland, the Waitakere Ranges are an excellent place to start looking. Most forest tracks have some species growing beside them.</p>
              <p><span class="boldgrey2b">Forest Orchids Include: </span></p>
            
<table><tr><td valign ="top"><i>
Acianthus sinclairii<br>   
Adenochilus gracilis<br>   
Bulbophyllum pygmaeum<br>   
Bulbophyllum tuberculatum<br>   
Caladenia species<br>   
hiloglottis cornuta<br>   
Corybas acuminatus<br>   
Corybas macranthus<br>   
Corybas oblongus<br>   
Corybas trilobus<br>   
Drymoanthus species<br>   
Earina species<br>   
Gastrodia species<br>   
Pterostylis agathicola<br>   
</i></td><td><i> 
Pterostylis alobula<br>   
Pterostylis australis<br>  
Pterostylis banksii<br>   
Pterostylis brumalis<br>   
Pterostylis cardiostigma<br>   
Pterostylis cernua<br>   
Pterostylis graminea<br>   
Pterostylis irsoniana<br>   
Pterostylis irwinii<br>   
Pterostylis aff montana agg<br>   
Pterostylis oliveri<br>   
Pterostylis patens<br>   
Pterostylis porrecta<br>   
Pterostylis trullifolia<br>   
Dendrobium cunninghamii<br>
</i></td></tr></table> 

</td>
          </tr>
        </table>
          </td>
        <td valign="top">&nbsp;</td>
      </tr>
    </table>
  </div>
  </div>
</div>

