      <tr>
        <td width="30" valign="top">&nbsp;</td>
        <td width="815" class="top">
          <span class="pageheadings3">Habitats</span>
          <br /><br />
          <p class="intro4">The habitats of  Native Orchids are almost as varied as the plants themselves. <br>
          They can be found  from coastal areas through to the alpine zone. <br>
          Listed below are the most common orchid habitats. </p></td>
        <td width="43" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top">

		<table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Page Content">
          <tr>
            <td class="cellgap">&#160;</td>
            <td>&#160;</td>
            <td>&#160;</td>
          </tr>
          <tr>
            <td width="46%"><span class="habitats4">Scrubland </span></td>
            <td width="11%">&#160;</td>
            <td width="43%"><span class="habitats4">Lowland Native Forest </span></td>
          </tr>
          <tr>
            <td><img src="Graphics/scrub.jpg" width="265" height="186" border="0" vspace="16" alt="Scrubland" /></td>
            <td>&#160;</td>
            <td><img src="Graphics/forest2.jpg" width="265" height="186" border="0" vspace="16" alt="Lowland Native Forest" /></td>
          </tr>
          <tr>
            <td valign="top"><p>This is one of their favoured habitats, particularly in open areas beneath Manuka and Kanuka.</p>
              <p class="body">Here it's fairly easy to find a wide variety of Sun Orchids, various Caladenia, Gnat Orchids, the small forms of Leek Orchid, Onion Orchids, as well as certain species of Greenhood and Spider Orchid.</p>
              <p class="body">Good examples of this environment can be found at Albany Scenic Reserve near Auckland, Rainbow Mountain near Rotorua, and the Puffer Track at Kaitoke near Wellington.</p>
              <p><b>Scrubland Orchids Include: </b> <p>
	<table><tr><td width = "50%"valign ="top"><i>                
Acianthus sinclairii<br>
Caladenia atradenia<br>
Caladenia cholostyla<br>
Caladenia minor<br>  
Caladenia variegata<br>
Corybas cheesemanii<br>   
Corybas cryptanthus<br>   
Corybas oblongus<br>   
Corybas trilobus agg<br>
Cyrtostylis rotudufolius<br>
Calochilus robertsonii<br>
Calochilus paludosus<br>
Gastrodia minor<br>
</i></td><td><i> 
	Genoplesium</i> species<br><i>
Microtis species<br>   
Orthoceras novae zeelandiae<br>   
Prasophyllum colensoi<br>   
Pterostylis alobula<br>   
Pterostylis trullifolia<br>   
Pterostylis foliata<br>   
Pterostylis graminea<br>   
Pterostylis montana<br>   
Pterostylis puberula<br>    
Pterostylis tasmanica<br>   
Thelymitra longifolia
<br> 
</i></td></tr></table> 

             <br />
                <span class="habitats4b">Kauri Forest </span><br />
                <span class="body">Two species of Greenhood ( </span> <i>Pterostylis agathicola and Pterostylis brumalis</i>) are confined to this type of forest. Kauri forest also contains a wide selection of the other forest dwelling species.</p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">It's possible to see the bush dwelling species in just about all of the natural forest environments, except for the darkest stands, or those with a dense ground covering of fern.</p>
              <p class="body">Orchids prefer a reasonable amount of light, therefore the edges of tracks make an ideal location for them.</p>
              <p class="body">Most Greenhood species are forest dwellers, along with many of the Spider Orchids, the Epiphytic Orchids, Chiloglottis, some Caladenia, and the Potato Orchids. Adenochilus is confined almost solely to Beech Forest.</p>
              <p class="body">For those living in Auckland, the Waitakere Ranges are an excellent place to start looking. Most forest tracks have some species growing beside them.</p>
              <p><span class="boldgrey2b">Forest Orchids Include: </span></p>
            
<table><tr><td valign ="top"></i>
Acianthus sinclairii<br>   
Adenochilus gracilis<br>   
Bulbophyllum pygmaeum<br>   
Bulbophyllum tuberculatum<br>   
Caladenia species<br>   
hiloglottis cornuta<br>   
Corybas acuminatus<br>   
Corybas macranthus<br>   
Corybas oblongus<br>   
Corybas trilobus<br>   
Drymoanthus species<br>   
Earina species<br>   
Gastrodia species<br>   
Pterostylis agathicola<br>   
</i></td><td><i> 
Pterostylis alobula<br>   
Pterostylis australis<br>  
Pterostylis banksii<br>   
Pterostylis brumalis<br>   
Pterostylis cardiostigma<br>   
Pterostylis cernua<br>   
Pterostylis graminea<br>   
Pterostylis irsoniana<br>   
Pterostylis irwinii<br>   
Pterostylis aff montana agg<br>   
Pterostylis oliveri<br>   
Pterostylis patens<br>   
Pterostylis porrecta<br>   
Pterostylis trullifolia<br>   
Dendrobium cunninghamii<br>
</i></td></tr>
	</table>
          <tr>
            <td>&#160;</td>
            <td class="cellgap">&#160;</td>
          </tr>
          <tr>
            <td valign="top"><span class="habitats4"><br>
              Montane to Sub-Alpine Forest </span></td>
            <td>&#160;</td>
            <td valign="top"><span class="habitats4"><br>
              Alpine Scrub and Herbfield </span></td>
          </tr>
          <tr>
            <td><img src="img/alpine_forest2.jpg" width="265" height="186" border="0" hspace="0" alt="Montane to Sub-Alpine Forest" vspace="16" /></td>
            <td>&#160;</td>
            <td><img src="img/alpine.jpg" width="265" height="186" border="0" hspace="0" vspace="16" alt="Alpine Scrub and Herbfield" /></td>
          </tr>
          <tr>
            <td valign="top"><p class="body">These cooler, higher rainfall forests with a floor covered in mosses are home to species like:</p>
              <p class="speciesnames3">Adenochilus gracilis, Chiloglottis cornuta, Corybas acuminatus, Corybas trilobus agg,  Gastrodia cunninghamii, Pterostylis irsoniana, Pterostylis patens, Pterostylis venosa, Pterostylis humilis, Aporostylis bifolia, Prasophyllum colensoi, Townsonia deflexa</p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">This cold wind-blown environment consists of small shrubs, tussock, and stunted Mountain Beech. Nestled in sheltered areas grow the following:</p>
              <p class="speciesnames3">Pterostylis humilis, Aporostylis bifolia, Prasophyllum colensoi,    Pterostylis irsoniana, Caladenia lyallii, Caladenia aff lyallii, Waireia stenopetala, Thelymitra cyanea, Thelymitra hatchii, Thelymitra nervosa, Pterostylis tanypoda, Pterostylis tristis, Corybas trilobus agg, Microtis oligantha</p></td>
          </tr>
          <tr>
            <td class="cellgap">&#160;</td>
            <td>&#160;</td>
            <td class="cellgap">&#160;</td>
          </tr>
          <tr>
            <td><span class="habitats4"><br>
              Banks and Streamsides </span></td>
            <td>&#160;</td>
            <td><span class="habitats4"><br>
              Swamps and Wetland </span></td>
          </tr>
          <tr>
            <td><img src="img/streams2.jpg" width="265" height="186" border="0" hspace="0" vspace="16" alt="Banks and Streamsides"></td>
            <td>&#160;</td>
            <td><img src="img/swamp.jpg" width="265" height="186" border="0" hspace="0" vspace="16" alt="Swamps and Wetland"></td>
          </tr>
          <tr>
            <td valign="top"><p class="body">Mossy banks with constant dripping water are a 
favourite home to several species of Spider Orchid. They're a particularly good place to find:</p>
              <p class="speciesnames3">Corybas iridescens, Corybas macranthus, Corybas oblongus, Corybas orbiculatus, Corybas papa, Corybas &quot;Waiouru&quot;, Corybas rivularis, Corybas &quot;Whiskers&quot;</p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">Surprisingly, a number of species thrive in this environment, even growing in open water. Wetland orchids include:</p>
              <p class="speciesnames3">Corybas carsei, Cryptostylis subulata, Prasophyllum hectorii, Pterostylis micromega, Pterostylis paludosa, Spiranthes novae zeelandiae, Thelymitra cyanea, and some Corybas species</p></td>
          </tr>
        </table>
          <p>&nbsp;</p>
          <img src="Graphics/line.gif" alt="" width="790" height="2" border="0">
          <p>&nbsp;</p>
          <p><br>
            <span class="habitats4">Some Native Orchid Locations </span></p>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Locations">
            <tr>
              <td width="42%" valign="top"><p><span class="boldgrey2b">Fairy Falls Track, Waitakere Range. </span><br>
                <span class="speciesnames3">Corybas acuminatus, Corybas &quot;Whiskers&quot;, Acianthus sinclairii, Earina mucronata. </span></p>
                <p><span class="boldgrey2b">Destruction Gully, Whatipu, Waitakere Range. </span><br>
                  <span class="speciesnames3">Acianthus sinclairii, Cyrtostylis oblonga, Pterostylis alobula, Pterostylis agathicola, Pterostylis trullifolia, Pterostylis graminea, Corybas oblongus. </span></p>
                <p><span class="boldgrey2b">Ricker Walk, Waipoua Forest, Northland. </span><br>
                  <span class="speciesnames3">Pterostylis brumalis, Corybas oblongus, Pterostylis agathicola, Cyrtostylis oblonga. </span></p>
                <p><span class="boldgrey2b">Albany Scenic Reserve, North Shore. </span><br>
                  <span class="speciesnames3">Thelymitra tholiformis, Thelymitra aemula, Thelymitra longifolia, Thelymitra pulchella, Pterostylis graminea, Pterostylis cardiostigma, Genoplesium pumilum, Orthoceras novae zeelandiae, Caladenia chlorostyla. </span></p>
                <p><span class="boldgrey2b">Rainbow Mountain, Waiotapu, Rotorua. </span><br>
                  <span class="speciesnames3">Calochilus robertsonii, Calochilus paludosus, Thelymitra nervosa, Thelymitra carnea, Thelymitra longifolia, Caladenia alata, Caladenia chlorostyla, Caladenia atradenia, Orthoceras novae zeelandiae, Pterostylis trullifolia. </span></p>
                <p><span class="boldgrey2b">Kapuni Walk, Dawson falls, Mt Taranaki. </span><br>
                  <span class="speciesnames3">Pterostylis venosa, Adenochilus gracilis, Corybas acuminatus, Chiloglottis cornuta, Aporostylis bifolia, Pterostylis patens, Corybas aff trilobus. </span></p>
                <p><span class="boldgrey2b">Horopito Area, Mount Ruapehu. </span><br>
                  <span class="speciesnames3">Corybas oblongus, Corybas trilobus agg, Pterostylis patens, Pterostylis aff montana, Adenochilus gracilis, Gastrodia minor, Gastrodia cunninghamii, Caladenia chlorostyla, Caladenia lyallii, Orthoceras novae zeelandiae, Spiranthes novae zeelandiae, Prasophyllum &quot;B&quot;, Thelymitra &quot;Whakapapa&quot;, Thelymitra formosa, Thelymitra longifolia, Microtis oligantha. </span></p></td>
              <td width="16%">&nbsp;</td>
              <td width="42%" valign="top"><p><span class="boldgrey2b">Puffer Track, Kaitoke, Upper Hutt. </span><br>
                <span class="speciesnames3">Thelymitra pulchella, Thelymitra x dentata, Thelymitra ixioides, Thelymitra nervosa, Orthoceras novae zeelandiae, Corybas oblongus, Pterostylis tasmanica, Cyrtostylis rotundifolia, Prasophyllum colensoi. </span></p>
                <p><span class="boldgrey2b">Whakapapa, Mount Ruapehu. </span><br>
                  <span class="speciesnames3">Pterostylis humilis, Pterostylis patens, Pterostylis aff montana, Thelymitra cyanea, Prasophyllum colensoi, Thelymitra longifolia, Thelymitra &quot;Whakapapa&quot;, Thelymitra formosa, Thelymitra hatchii, Gastrodia cunninghamii, Aporostylis bifolia. </span></p>
                <p>&nbsp;</p>
                <p><span class="boldgrey2b">Native Orchid Reserve, Iwitahi, Taupo. </span></p>
                <p><img src="img/iwitahi2.jpg" alt="Iwitahi Native Orchid Reserve" width="265" height="186" vspace="6"><br>
                  <span class="speciesnames3">Includes amongst others: &#160; Caladenia species, Caladenia atradenia, Caladenia lyallii, Chiloglottis cornuta, Chiloglottis valida, Chiloglottis trapeziformis, Thelymitra nervosa, Pterostylis patens, Pterostylis foliata, Adenochilus gracilis, Aporostylis bifolia, Gastrodia minor, Gastrodia sesamoides, Gastrodia cunninghamii, Corybas trilobus agg. </span></p>
                <p><a href="Native_Orchid_Reserve.html" target="_self">Click Here for Iwitahi Location Map &amp; Information</a></p></td>
            </tr>
	</table> 
<table>
</td>
<td valign="top">&nbsp;</td>
 </tr>
 </table>
  </div>
  </div>
</div>
