  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">
    <table width="900" border="0" cellpadding="2" cellspacing="0" align="center" summary="Page layout">
      <tr>
        <td width="30" valign="top">&nbsp;</td>
        <td width="815" class="top">
          <span class="pageheadings3">Habitats</span>
          <br /><br />
          <p class="intro4">The habitats of  Native Orchids are almost as varied as the plants themselves. <br />
          They can be found  from coastal areas through to the alpine zone. <br />
          Listed below are the most common orchid habitats. </p></td>
        <td width="43" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td valign="top">&nbsp;</td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0" summary="Page Content">
          <tr>
            <td class="cellgap">&#160;</td>
            <td>&#160;</td>
            <td>&#160;</td>
          </tr>
          <tr>
            <td width="46%"><span class="habitats4">Scrubland </span></td>
            <td width="11%">&#160;</td>
            <td width="43%"><span class="habitats4">Lowland Native Forest </span></td>
          </tr>
          <tr>
            <td><img src="Graphics/scrub.jpg" width="265" height="186" border="0" vspace="16" alt="Scrubland" /></td>
            <td>&#160;</td>
            <td><img src="Graphics/forest2.jpg" width="265" height="186" border="0" vspace="16" alt="Lowland Native Forest" /></td>
          </tr>
          <tr>
            <td valign="top"><p class="body">This is one of their favoured habitats, particularly in open areas beneath Manuka and Kanuka.</p>
              <p class="body">Here it's fairly easy to find a wide variety of Sun Orchids, various Caladenia, Gnat Orchids, the small forms of Leek Orchid, Onion Orchids, as well as certain species of Greenhood and Spider Orchid.</p>
              <p class="body">Good examples of this environment can be found at Albany Scenic Reserve near Auckland, Rainbow Mountain near Rotorua, and the Puffer Track at Kaitoke near Wellington.</p>
              <p><span class="boldgrey2b">Scrubland Orchids Include: </span><br />
                <span class="speciesnames3">Most Thelymitra species, Caladenia Species, Corybas cheesemanii, Corybas cryptanthus, Corybas oblongus, Corybas trilobus agg, Cyrtostylis species, Calochilus robertsonii, Calochilus paludosus, Acianthus sinclairii, Gastrodia minor, Genoplesium species, Microtis species, Orthoceras novae zeelandiae, Prasophyllum colensoi, Pterostylis alobula, Pterostylis trullifolia, Pterostylis foliata, Pterostylis graminea, Pterostylis montana, Pterostylis puberula,  Pterostylis tasmanica, Caladenia atradenia </span></p>
              <p><br />
                <span class="habitats4b">Kauri Forest </span><br />
                <span class="body">Two species of Greenhood ( </span> <span class="speciesnames3">Pterostylis agathicola and Pterostylis brumalis</span> <span class="body">) are confined to this type of forest. Kauri forest also contains a wide selection of the other forest dwelling species. </span></p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">It's possible to see the bush dwelling species in just about all of the natural forest environments, except for the darkest stands, or those with a dense ground covering of fern.</p>
              <p class="body">Orchids prefer a reasonable amount of light, therefore the edges of tracks make an ideal location for them.</p>
              <p class="body">Most Greenhood species are forest dwellers, along with many of the Spider Orchids, the Epiphytic Orchids, Chiloglottis, some Caladenia, and the Potato Orchids. Adenochilus is confined almost solely to Beech Forest.</p>
              <p class="body">For those living in Auckland, the Waitakere Ranges are an excellent place to start looking. Most forest tracks have some species growing beside them.</p>
              <p><span class="boldgrey2b">Forest Orchids Include: </span><br />
                <span class="speciesnames3">Acianthus sinclairii, Adenochilus gracilis, Bulbophyllum pygmaeum, Bulbophyllum tuberculatum, Caladenia species, Chiloglottis cornuta, Corybas acuminatus, Corybas macranthus, Corybas oblongus, Corybas trilobus, Drymoanthus species, Earina species, Gastrodia species, Pterostylis agathicola, Pterostylis alobula, Pterostylis australis, Pterostylis banksii, Pterostylis brumalis, Pterostylis cardiostigma, Pterostylis cernua, Pterostylis graminea, Pterostylis irsoniana, Pterostylis irwinii, Pterostylis aff montana agg, Pterostylis oliveri, Pterostylis patens, Pterostylis porrecta, Pterostylis trullifolia, Dendrobium cunninghamii </span></p></td>
          </tr>
          <tr>
            <td class="cellgap">&#160;</td>
            <td>&#160;</td>
            <td class="cellgap">&#160;</td>
          </tr>
          <tr>
            <td valign="top"><span class="habitats4"><br />
              Montane to Sub-Alpine Forest </span></td>
            <td>&#160;</td>
            <td valign="top"><span class="habitats4"><br />
              Alpine Scrub and Herbfield </span></td>
          </tr>
          <tr>
            <td><img src="Graphics/alpine_forest2.jpg" width="265" height="186" border="0" hspace="0" alt="Montane to Sub-Alpine Forest" vspace="16" /></td>
            <td>&#160;</td>
            <td><img src="Graphics/alpine.jpg" width="265" height="186" border="0" hspace="0" vspace="16" alt="Alpine Scrub and Herbfield" /></td>
          </tr>
          <tr>
            <td valign="top"><p class="body">These cooler, higher rainfall forests with a floor covered in mosses are home to species like:</p>
              <p class="speciesnames3">Adenochilus gracilis, Chiloglottis cornuta, Corybas acuminatus, Corybas trilobus agg,  Gastrodia cunninghamii, Pterostylis irsoniana, Pterostylis patens, Pterostylis venosa, Pterostylis humilis, Aporostylis bifolia, Prasophyllum colensoi, Townsonia deflexa</p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">This cold wind-blown environment consists of small shrubs, tussock, and stunted Mountain Beech. Nestled in sheltered areas grow the following:</p>
              <p class="speciesnames3">Pterostylis humilis, Aporostylis bifolia, Prasophyllum colensoi,    Pterostylis irsoniana, Caladenia lyallii, Caladenia aff lyallii, Waireia stenopetala, Thelymitra cyanea, Thelymitra hatchii, Thelymitra nervosa, Pterostylis tanypoda, Pterostylis tristis, Corybas trilobus agg, Microtis oligantha</p></td>
          </tr>
          <tr>
            <td class="cellgap">&#160;</td>
            <td>&#160;</td>
            <td class="cellgap">&#160;</td>
          </tr>
          <tr>
            <td><span class="habitats4"><br />
              Banks and Streamsides </span></td>
            <td>&#160;</td>
            <td><span class="habitats4"><br />
              Swamps and Wetland </span></td>
          </tr>
          <tr>
            <td><img src="Graphics/streams2.jpg" width="265" height="186" border="0" hspace="0" vspace="16" alt="Banks and Streamsides" /></td>
            <td>&#160;</td>
            <td><img src="Graphics/swamp.jpg" width="265" height="186" border="0" hspace="0" vspace="16" alt="Swamps and Wetland" /></td>
          </tr>
          <tr>
            <td valign="top"><p class="body">Mossy banks with constant dripping water are a 
favourite home to several species of Spider Orchid. They're a particularly good place to find:</p>
              <p class="speciesnames3">Corybas iridescens, Corybas macranthus, Corybas oblongus, Corybas orbiculatus, Corybas papa, Corybas &quot;Waiouru&quot;, Corybas rivularis, Corybas &quot;Whiskers&quot;</p></td>
            <td>&#160;</td>
            <td valign="top"><p class="body">Surprisingly, a number of species thrive in this environment, even growing in open water. Wetland orchids include:</p>
              <p class="speciesnames3">Corybas carsei, Cryptostylis subulata, Prasophyllum hectorii, Pterostylis micromega, Pterostylis paludosa, Spiranthes novae zeelandiae, Thelymitra cyanea, and some Corybas species</p></td>
          </tr>
        </table>
          </td>
        <td valign="top">&nbsp;</td>
      </tr>
    </table>
  </div>
  </div>
</div>

