<table border="0" cellspacing="0" cellpadding="2"  align="center" summary="Page Content">
    <tr>
      <td width="23%" valign="top" ><a href="Species.html" target="_self">
		<img src="Scripts/img/E_autumnalis_2010_01.jpg" title="Sun Orchids" alt="Sun Orchid" height="500" border="0" /></a>
	</td>

      <td width="3%" height="110">&#160;</td>
      <td width="49%" valign="top"><p>
 	    <H1>New Zealand Native Orchid Group </H1>
          <a href="Activities.html"><img src="Scripts/img/IMG_2628.JPG" alt="NZ Native Orchid Group" height="400" border="0" /></a>
         
      </td>
 
      <td width="3%" height="110">&#160;</td>
      <td width="22%" valign="top">                  
           <div class="c3"><a href="Members.html"><img src="Scripts/img/NZNOG_Logo.png" alt="NZ Native Orchid Group" width="150" height="150" border="0"></a></div>
           <a href="Journals.html"><img src="Scripts/img/127sh.jpg" alt="NZ Native Orchid Group" width="200" />
      </td>
    </tr>

    <tr>
      <td><a href="Habitats.html" target="_self"><img src="Scripts/img/IMG_2934.JPG" title="Sun Orchids" alt="Sun Orchid" height="250" border="0" /></a></td>
      <td></td>
	<td>
          <p class="bodyText">The society is a loose group of enthusiasts from around New Zealand with some members resident overseas. We meet formally once a year for field days and discussions 
		but organise local "expeditions"  to particular areas from time to time. </p>
          <p class="bodyText">This site provides descriptions &amp; photos of most of the recognised species, along with guides on where to find them, 
		their flowering times and habitats.</p>
	</td>
	<td></td>
	<td>
	   <div class="c3"><a href= "Publications.html"><img src="Scripts/img/home_right_17.gif" alt="Pocket Guide to the NZ Orchids" width="300"  border="0" ></a></div>
	</td>
   </tr>

   <tr>
	<td>
           <!-- Nature Watch Widget Begin -->
 		<img alt="iNaturalist NZ" src="Scripts/img/INNZ_logo.gif" align ="bottom" width="131" height="35" /></a> 
            <script type="text/javascript" charset="utf-8" src="https://inaturalist.nz/observations/project/2778.widget?layout=large&amp;limit=1&amp;order=desc&amp;order_by=observed_on"></script>
          <!-- Nature Watch Widget End -->
	</td>
	<td></td>
	<td>
          <p>The society has produced many publications <a href="Journals/Journals.html" target="_self" class="bodyTextlink">including a quarterly journal</a> </p>
          <p><b>JOIN</b> the society and meet local people with a common interest to share local trips to places they know well.</p>
          <p class="c1"><br />
              <img src="Scripts/img/printer3.gif" alt="Print" width="25" height="25" class="picture" />&#160;&#160;
		  <a href="./order/subscription_form.html" target="_blank" class="ftlink">CLICK HERE TO JOIN</a>
           </p>
	</td>
	<td></td>
	<td></td>
	<td></td>
   </tr>
</table>
