    <tr>
      <td width="23%" valign="top" ><a href="Species_ID.html" target="_self">
		<img src="{{'Graphics/E_autumnalis_2010_01.jpg' | base_url}}" title="Orchid identification" alt="Sun Orchid" width="100%" border="0"></a>
<p align = "center"><b>Identifing orchids</b></p>
	</td>

      <td width="3%" height="110">&#160;</td>
      <td width="49%" valign="top"><p>
 	   
          <a href="Activities.html"><img src="Graphics/IMG_2628.JPG" title = "Activities" alt="NZ Native Orchid Group" width="100%" border="0"></a>
         <p align = "center"> <b>Field Trips</b></p>
      </td>
 
      <td width="3%" height="110">&#160;</td>
      <td width="22%" valign="center">                  
           <a href="./Journals/Journals.html"><img src="Graphics/127sh.jpg" Title = "Publications" alt="NZ Native Orchid Group" width="100%"></a>
<p align = "center"> <b> Quartely journals</b></p>
      </td>
    </tr>

    <tr>
      <td><a href="Habitats.html" target="_self"><img src="Graphics/IMG_2934.JPG" title="Ecology" alt="Sun Orchid" width="100%" border="0"></a>
<p align = "center"> <b>Ecology when, where to find orchids</b></p></td>
      <td></td>
	<td>
          <p class="bodyText">The society is a loose group of enthusiasts from around New Zealand with some members resident overseas. We meet formally once a year for field days and discussions but organise local "expeditions"  to particular areas from time to time.</p>
          <p class="bodyText">This site provides descriptions &amp; photos of most of the recognised species, along with guides on where to find them, 
		their flowering times and habitats.</p></td>
	<td></td>
	<td><a href= "Publications.html"><img src="Graphics/home_right_17.gif" alt="Pocket Guide to the NZ Orchids" width="100%"  border="0" ></a></td>
   </tr>

   <tr>
	<td>
           <!-- Nature Watch Widget Begin -->
 		<img alt="iNaturalist NZ" src="Graphics/INNZ_logo.gif" align ="bottom" width="131"></a> 
            <script type="text/javascript" charset="utf-8" src="https://inaturalist.nz/observations/project/2778.widget?layout=large&amp;limit=1&amp;order=desc&amp;order_by=observed_on"></script>
          <!-- Nature Watch Widget End -->
	</td>
	<td></td>
	<td>
          <p>The society has produced many publications <a href="Journals/Journals.html" target="_self" class="bodyTextlink">including a quarterly journal</a> </p>
          <p><b>JOIN</b> the society and meet local people with a common interest to share local trips to places they know well.</p>
          <p class="c1"><br><img src="Graphics/printer3.gif" alt="Print" width="25" class="picture">&#160;&#160;
		  <a href="./order/subscription_form.html" target="_blank" class="ftlink">CLICK HERE TO JOIN</a></p>
	</td>
	<td></td>
	<td><a href="Members.html"><img src="Graphics/NZNOG_Logo.png" title = "Society activities" alt="NZ Native Orchid Group" width="50%"  border="0"></a></td>
  </tr>
</table>
