       <tr>
        <td><span class="pspagetitle"><br />
          Other orchids of open places</span><br />
          <span class="tagline2"><I>Calochilus</I> and other Species </span><br />
          <br /></td>
      </tr>
    </table>

    <table width="890" >
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Calochilus_herbaceus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/C_herbaceus_flower_01.jpg" title="Copper Beard Orchid - Calochilus herbaceus" alt="Calochilus herbaceus" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
 
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Calochilus_paludosus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/C_paludosus_23Nov04_1.jpg" title="Brown Beard Orchid - Calochilus paludosus" alt="Calochilus paludosus" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Calochilus_robertsonii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/C_robertsonii_flower_03.jpg" title="Red Beard Orchid - Calochilus robertsonii" alt="Calochilus robertsonii" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Calochilus_herbaceus.html" title="Species Description"class="pslink"><span class="name"><i>Calochilus herbaceus </i></span></a><br>
          <br />
          <span class="description"><p><b>Habitat:</b> track sides, in gumland scrub and swampy ground. </p>
		<p><b>Key features:</b> labellum base bare violet, tip bare tapered.</span><br>
          <br>
          </div></td>
        <td>&#160;</td>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Calochilus_paludosus.html" title="Species Description"class="pslink"><span class="name"><i>Calochilus paludosus </i><br /></span></a><br>
          <BR>
          <span class="description">Habitat: montane to lowland on poor, clay ground and peat wetlands.</p>
		<p><b>Key features:</b> densely hairy labellum base and lack of &quot;eyes&quot;.</p> </span>
         
         </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Calochilus_robertsonii.html" title="Species Description"class="pslink"><span class="name"> <i>Calochilus robertsonii </i></span><br></a><br>
         
          <span class="description"><p><b>Habitat:</b> clays and peat, in open scrub; lowland to montane.</p>
		<p><b>Key features:</b> strongly striped petals and sepals, densely hairy beard and very short, bare tip. dark &quot;eyes&quot; </p></span>
          </div></td>
      </tr>
     <tr>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        
    
      </tr>

 </table>


<table width="890" >
     <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>

	<tr>
        <td width = "200"><div class="c4"><a href = "Descriptions/Waireia_stenopetala.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/W_stenopetala_108.jpg" title="Beak Orchid - Waireia stenopetala" alt="Waireia stenopetala" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Orthoceras_novae-zeelandiae.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/O_NZ_301.jpg" title="Horned Orchid - Orthoceras novae-zeelandiae" alt="Orthoceras novae-zeelandiae" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
         <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Orthoceras_strictum.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/O_strictum_401.jpg" title="Horned Orchid - Orthoceras strictum" alt="Orthoceras strictum" width="164" height="243" border="0"></a></div></td>
	</tr>

	<tr>
         <td width = "200" class="descriptiontextbox2"><div class="c5"><a href = "Descriptions/Waireia_stenopetala.html" title="Species Description"class="pslink"><span class="name"><i>Waireia stenopetala </i></span></a>
          
           <span class="description"><p><b>Habitat:</b> in damp alpine or montane scrub and herbfields. Ruapehu southwards.</p>
		<p><b>Key features:</b> 2 narrow, leaves, alpine wetland habitat. </span><br><br>
          <br>
         </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5">
	<a href="Descriptions/Orthoceras_novae-zeelandiae.html" title="Species Description"class="pslink"><span class="name"><i>Orthoceras novae-zeelandiae</i></span></a>
          
          <span class="description"><p><b>Habitat:</b> lowland: dry open banks and grassland. South to Nelson and Marlborough</p>
		<p><b>Key features:</b> several basal leaves and hooded flower with long, stiff, lateral sepals.</p></span><br>
          <br>
         </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Orthoceras_strictum.html" title="Species Description"class="pslink"><span class="name"> <i>Orthoceras stricum</i></span></a><br>
         <br>
          <span class="description"><p><b>Habitat:</b> Coastal to montane. Open scrub and clay banks. </p>
		<p><b>Key features:</b> floral bracts extending above the flower, labellum more pointed. </p></span><br />
         </div></td>
	</tr>
       <tr>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
      </tr>


    </table>
  </div>
  </div>
</div>
<div id="footer">

