<!-- Menu Begin --> 

<div id="p7PMM_1" class="p7PMMh05">
        <ul class="p7PMM">
          <li><a href="../index.html">Home</a></li>
          <li><a href="#">Identification</a>
            <div>
              <ul>
                <li><a href="../Species_ID.html">Species Identification</a></li>
                <li><a href="../Orchid_Anatomy.html">Orchid Structures</a></li>
                <li><a href="../Checklist.html">Species List</a></li>
                <li><a href="http://www.inaturalist.org/projects/new-zealand-native-orchids" target="_blank">Orchid Observations</a></li>
            </ul>
            </div>
          </li>
         <li><a href="#">Wetland</a>
            <div>
              <ul>
               <li><a href="../Swamp_Orchids.html">Swamp Orchids</a></li>
               <li><a href="../Spider_Orchids_4.html">Wet Places</a></li>
             </ul>
            </div>
          </li>
          <li><a href="#">Forest</a>
             <div>
              <ul>
                <li><a href="../Epiphytic_Orchids.html">Perching Orchids</a></li>
                <li><a href="../Greenhood_Orchids_Key.html">Greenhoods</a></li>
                <li><a href="../Spider_Orchids_Key.html">Spider Orchids</a></li>
                 <li><a href="../Caladenias.html">Ladies fingers etc</a></li>
                <li><a href="../Gnat_Orchids.html">Gnat_Orchids</a></li>
                <li><a href="../Potato_Orchids.html">Saprophytic Orchids</a></li>
                <li><a href="../Bird_Orchids.html">Bird Orchids</a></li>
            </ul>
            </div>
         </li>
         <li><a href="#">Open Places</a>
            <div>
              <ul>
                <li><a href="../Sun_Orchids_key.html"Sun Orchids -<i>Thelymitra</i></a></li>
               <li><a href="../Onion_n_Leek_orchids.html">Onion_and_Leek_orchids</a></li>
	    	   <li><a href="../Misc_Clay_Orchids.html">Other Clay orchids</a></li> 

               </ul>
            </div>
          </li>
        
        <li><a href="#">About us</a>
	   <div>
	    <ul>
	     <li><a href="../Contacts.html">Contacts</a></li>
   	    </ul> 
          </div>    
        </li>
      </ul>
  <div class="p7pmmclearfloat">&nbsp;</div>
   <script type="text/javascript">
	<!--
	 P7_PMMop('p7PMM_1',1,2,-5,-5,0,1,0,1,0,3,1,1,0);
	//-->
    </script>
</div>


 <!-- Menu End -->    
