</head>

<body>
<div class="masthead"> <img src="Graphics/Header.png" width="500" height="60" class="scalable" alt="New Zealand Native Orchids">  
	<img src="Graphics/NZNOG_60x60.png" width="60" align = "right" class="headerlogo hide-smallscreen" alt="NZNOG"/>
</div>

<!-- Menu Begin --> 
<style>
	#navbar a {height: 1%; float: left;}
</style>

<div id="p7PMM_1" class="p7PMMh05">
        <ul class="p7PMM">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Identification</a>
            <div>
              <ul>
                <li><a href="Species_ID.html">Species Identification</a></li>
                <li><a href="Orchid_Anatomy.html">Orchid Structures</a></li>
                <li><a href="Checklist.html">Species List</a></li>
                <li><a href="http://www.inaturalist.org/projects/new-zealand-native-orchids" target="_blank">Orchid Observations</a></li>
            </ul>
            </div>
          </li>
         <li><a href="#">Ecology</a>
            <div>
              <ul>
               <li><a href="Habitats.html">Habitats</a></li>
                <li><a href="Flowering_times.html">Flowering Times</a></li>
               <li><a href="Orchid_Districts.html">Species By Region</a></li>
               <li><a href="Conservation.html">Conservation</a></li>
               <li><a href="Threats.html">Threat Status</a></li>
             </ul>
            </div>
          </li>
          <li><a href="#">Publications</a>
             <div>
              <ul>
                <li><a href="Publications.html">Publications for sale</a></li>
                <li><a href="Journals/Journals.html">Journals Archive</a></li>
                <li><a href="Archives.html">Publications Archive</a></li>
              </ul>
            </div>
         </li>
         <li><a href="#">Membership</a>
            <div>
              <ul>
                <li><a href="Links.html">Links</a></li>
               <li><a href="Members.html">Membership</a></li>
	    	   <li><a href="Activities.html">Activities</a></li> 
	    	   <li><a href="Conduct.html">Code of Conduct</a></li> 

               </ul>
            </div>
          </li>
        
        <li><a href="#">About us</a>
	   <div>
	    <ul>
	     <li><a href="Contacts.html">Contacts</a></li>
   	    </ul> 
          </div>    
        </li>
      </ul>
  <div class="p7pmmclearfloat">&nbsp;</div>
   <script type="text/javascript">
	<!--
	 P7_PMMop('p7PMM_1',1,2,-5,-5,0,1,0,1,0,3,1,1,0);
	//-->
    </script>
</div>

 <!-- Menu End --> 


