    </div>
  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

   <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br>
          Onion and Leek Orchids </span><br>
          <br></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Microtis_arenaria.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/M_arenaria _002.jpg" title="Onion Orchid - Microtis arenaria" alt="Microtis arenaria" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Microtis_oligantha.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/M_oligantha_001.jpg" title="Small Onion Orchid - Microtis oligantha" alt="Microtis oligantha" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Microtis_parviflora.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src = "Photos/M_parviflora_007.jpg" title="Slender Onion Orchid - Microtis parviflora" alt="Microtis parviflora" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Microtis_unifolia.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src = "Photos/M_unifolia_001.jpg" title="Common Onion Orchid - Microtis unifolia" alt="Microtis unifolia" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Microtis_arenaria.html" title="Species Description"class="pslink"><span class="name"><i>Microtis arenaria </i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> sandy soil, dry gumland in scrub, dunes. Northland  <br><br></p>
		<p><b>Key features:</b> hump-backed ovary and forked tip to the labellum. </p><br></span>
         
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Microtis_oligantha.html" title="Species Description" class="pslink"><span class="name"><i>Microtis oligantha </i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> montane to alpine open short grass turfs, or boggy areas, streamsides, lakesides.</p>
		<p><b>Key features:</b>few flowers with a squat labellum a large callus and almost straight, pendant lateral sepals.</p><br></span>
          
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Microtis_parviflora.html" title="Species Description" class="pslink"><span class="name"><i>Microtis parviflora </i></span></a><br>
          
          <span class="description"><p><b>Habitat:</b> lowland, open places; not common.<br></p><br>
	<p><b>Key features:</b> labellum long, tapering, usually strongly curled and not notched, margin plain. </p></span>
         
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Microtis_unifolia.html" title="Species Description" class="pslink"><span class="name"><i>Microtis unifolia </i></span></a><br>
         
          <span class="description"><p><b>Habitat:</b> lowland to montane; a wide range of open habitats, both native and pasture or garden, often in grass. Throughout </p>
		<p><b>Key features:</b> very ornamented labellum margins, single prominent basal callus. <p></span><br>
          
      </tr>
      <tr>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
      </tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Genoplesium_nudum.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src = "Photos/C_nuda_flower_01.jpg" title="Leek Orchid - Genoplesium nudum" alt="Genoplesium nudum" width="164" height="243" border="0" /></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Genoplesium_pumilum.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src = "Photos/C_pumila_flowers_08.jpg" title="Leek Orchid - Genoplesium pumilum" alt="Genoplesium pumilum" width="164" height="243" border="0" /></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Prasophyllum_colensoi.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src = "Photos/P_colensoi_stem_01.jpg" title="Common Leek Orchid - Prasophyllum colensoi" alt="Prasophyllum colensoi" width="164" height="243" border="0" /></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Prasophyllum_hectorii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src = "Photos/P_hectori_flower_01.jpg" title="Swamp Leek Orchid - Prasophyllum hectorii" alt="Prasophyllum hectorii" width="164" height="243" border="0" /></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Genoplesium_nudum.html" title="Species Description" class="pslink"><span class="name"><i>Genoplesium nudum </i></span></a><br>
          
          <span class="description"><p><b>Habitat:</b> lowland to montane, poor damp soil, winter wet clays, often with sundews and sedges. Throughout.</p>
		<p><b>Key features:</b> leaf much shorter than the base of the flower spike, flowers maroon. </p></span><br>
          <br />
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Genoplesium_pumilum.html" title="Species Description"class="pslink"><span class="name"><i>Genoplesium pumilum </i></span></a><br> 
         
          <span class="description"><p><b>Habitat:</b> locally common in gumland scrub and winter wet clays, often with sundews and sedges. South to Nelson. </p>
		<p><b>Key features:</b> the leaf extends into the flower spike flowers dominantly creamy green. </p></span>
          <br>
         <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Prasophyllum_colensoi.html" title="Species Description" class="pslink"><span class="name"><i>Prasophyllum colensoi</i></span></a><br>
          <span class="description"><p><b>Habitat:</b> lowland to alpine open areas but most common in short alpine grassland. Throughout. </p>
		<p><b>Key features:</b> rather pointed tepals, grassland habitat, flowers often varying in colour within a population. </p></span> <br>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Prasophyllum_hectorii.html" title="Species Description" class="pslink"><span class="name"><i>Prasophyllum hectorii</i></span></a><br />
          
           <span class="description"><p><b>Habitat:</b> sedgelands, in flowing or still water, often floating, its roots barely touching the peat. </p>
		<p><b>Key features:</b> very wet habitat, white, frilled labellum. </p></span>
       </tr>
     <tr>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
      </tr>

    </table>
  </div>
  </div>
</div>

