      <tr>
        <td width="30" valign="top">&#160;</td>
        <td width="862" class="top">
        <span class="pspagetitle">Orchid Structures</span>
        <br /><br />
        <p class="intro"><span class="boldbody7">&#8226; MOUSE OVER</span> the flowers for the name of each structure <br /><span class="smalllitegreywd">&nbsp;&nbsp;&nbsp;* Requires Internet Explorer 8 or higher</span></p>

       </td>
      </tr>
      <tr>
        <td valign="top" class="bodyText">&#160;</td>
        <td valign="top">
        <table align = "center" width="90%" border="0" cellspacing="0" cellpadding="0" summary="Photos">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="anatomytitles">&nbsp;</td>
            <td class="anatomytitles">Greenhood Orchids</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="3%">&nbsp;</td>
              <td width="46%"><img src="Photos/P_patens_702.jpg" alt="" width="316" height="460" vspace="6" usemap="#Map" class="grayborder" /></td>
              <td width="8%">&nbsp;</td>
              <td width="43%"><img src="Photos/D_alobulum_cross_section.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map6" class="grayborder" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="botnameparts">Pterostylis patens <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
              <td>&nbsp;</td>
              <td class="botnameparts">Pterostylis alobula <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
            </tr>
            <tr>
              <td class="cellgap2">&nbsp;</td>
              <td class="cellgap2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="anatomytitles">&nbsp;</td>
              <td class="anatomytitles">Sun Orchids</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="Photos/T_nervosa_flower_01.jpg" alt="" width="316" height="460" vspace="6" usemap="#Map3" class="grayborder" /></td>
              <td>&nbsp;</td>
              <td><img src="Photos/T_hatchii_column_02.jpg" alt="" width="316" height="460" vspace="6" usemap="#Map5" class="grayborder" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="botnameparts">Thelymitra nervosa <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
              <td>&nbsp;</td>
              <td class="botnameparts">Thelymitra hatchii <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
            </tr>
            <tr>
              <td class="cellgap2">&nbsp;</td>
              <td class="cellgap2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="anatomytitles">&nbsp;</td>
              <td class="anatomytitles">Spider Orchids</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="Photos/S_oblongus_104.jpg" alt="" width="316" height="460" vspace="6" usemap="#Map4" class="grayborder" /></td>
              <td>&nbsp;</td>
              <td><img src="Photos/N_acuminatum_201.jpg" alt="" width="316" height="460" vspace="6" usemap="#Map12" class="grayborder" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="botnameparts">Corybas oblongus <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
              <td>&nbsp;</td>
              <td class="botnameparts">Corybas acuminatus <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
            </tr>
            <tr>
              <td class="cellgap2">&nbsp;</td>
              <td class="cellgap2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="anatomytitles">&nbsp;</td>
              <td class="anatomytitles">Caladenia Orchids</td>
              <td>&nbsp;</td>
              <td class="anatomytitles">Beard Orchids</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="Photos/P_alatus_white_03.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map7" class="grayborder" /></td>
              <td>&nbsp;</td>
              <td><img src="Photos/C_paludosus_401.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map8" class="grayborder" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="botnameparts">Caladenia alata <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
              <td>&nbsp;</td>
              <td class="botnameparts">Calochilus paludosus <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
            </tr>
            <tr>
              <td class="cellgap2">&nbsp;</td>
              <td class="cellgap2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><span class="anatomytitles">Potato Orchids</span></td>
              <td>&nbsp;</td>
              <td class="anatomytitles">Leek Orchids</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="Photos/G_cunninghamii_flower_02.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map9" class="grayborder" /></td>
              <td>&nbsp;</td>
              <td><img src="Photos/P_hectori_flower_02.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map11" class="grayborder" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="botnameparts">Gastrodia cunninghamii <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
              <td>&nbsp;</td>
              <td class="botnameparts">Prasophyllum hectorii <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
            </tr>
            <tr>
              <td class="cellgap2">&nbsp;</td>
              <td class="cellgap2">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="anatomytitles">&nbsp;</td>
              <td class="anatomytitles">Bird Orchids</td>
              <td>&nbsp;</td>
              <td class="anatomytitles">Epiphytic Orchids</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><img src="Photos/M_trapeziformis_007.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map10" class="grayborder" /></td>
              <td>&nbsp;</td>
              <td><img src="Photos/E_autumnalis_2010_01.jpg" alt="" width="316" height="460" vspace="6" border="0" usemap="#Map2" class="grayborder" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="botnameparts">Chiloglottis trapeziformis <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
              <td>&nbsp;</td>
              <td class="botnameparts">Earina autumnalis <br />
              <span class="smalllitegrey">* Mouse-over the flower for the name of each structure </span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
        </table></td>
      </tr>
    </table>
  </div>
  </div>
  <div id="columnbottom">&nbsp;</div>
</div>
<div id="footer">
  <div id="footercontent">
  <div class="smalllitegrey">&copy; New Zealand Native Orchid Group </div>
  <div class="c2"><a href="Orchid_anatomy.html" target="_top"><img src="Graphics/page_top.gif" width="84" height="20" class="picture" alt="Page Top"  /></a></div>
  </div>
</div>
<map name="Map3" id="Map3">
  <area shape="rect" coords="96,97,187,156" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="44,162,126,245" href="#" alt="Petal" />
  <area shape="rect" coords="174,164,255,238" href="#" alt="Petal" />
  <area shape="rect" coords="37,251,114,322" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="195,252,283,315" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="120,251,190,328" href="#" alt="Labellum" />
  <area shape="rect" coords="132,180,168,246" href="#" alt="Column" />
</map>

<map name="Map4" id="Map4">
  <area shape="rect" coords="110,128,190,163" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="10,199,92,228" href="#" alt="Petal" />
  <area shape="rect" coords="10,161,91,192" href="#" alt="Petal" />
  <area shape="rect" coords="114,173,205,224" href="#" alt="Labellum" />
  <area shape="rect" coords="63,9,109,75" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="134,11,170,71" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="111,81,146,118" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="166,79,199,122" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="242,321,269,370" href="#" alt="Petiole" />
  <area shape="rect" coords="224,236,256,297" href="#" alt="Ovary" />
  <area shape="rect" coords="101,168,112,222" href="#" alt="Labellum Opening" />
  <area shape="rect" coords="117,229,215,236" href="#" alt="Petal" />
  <area shape="rect" coords="212,175,224,213" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="197,132,210,167" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="213,151,240,171" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="264,171,290,291" href="#" alt="Floral Bract" />
  <area shape="rect" coords="112,288,189,297" href="#" alt="Floral Bract" />
  <area shape="rect" coords="204,304,239,313" href="#" alt="Floral Bract" />
  <area shape="rect" coords="104,239,136,263" href="#" alt="Labellum" />
  <area shape="rect" coords="232,210,254,234" href="#" alt="Auricle" />
  <area shape="rect" coords="90,137,107,151" href="#" alt="Dorsal Sepal Tip" />
  <area shape="rect" coords="237,175,249,201" href="#" alt="Dorsal Sepal" />
  <area shape="circle" coords="135,396,52" href="#" alt="Leaf" />
</map>

<map name="Map12" id="Map12">
  <area shape="rect" coords="133,45,169,179" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="177,78,237,177" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="172,215,256,236" href="#" alt="Dorsal Sepal Tip" />
  <area shape="rect" coords="130,223,160,245" href="#" alt="Labellum" />
  <area shape="rect" coords="146,250,155,268" href="#" alt="Labellum Tip" />
  <area shape="rect" coords="95,252,124,275" href="#" alt="Petal" />
  <area shape="rect" coords="63,283,93,330" href="#" alt="Petal" />
  <area shape="rect" coords="134,252,146,273" href="#" alt="Ovary" />
  <area shape="rect" coords="159,259,177,292" href="#" alt="Petal" />
  <area shape="rect" coords="139,203,168,219" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="106,282,157,305" href="#" alt="Leaf" />
  <area shape="rect" coords="130,189,136,219" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="133,274,143,282" href="#" alt="Petiole" />
  <area shape="rect" coords="118,313,129,367" href="#" alt="Stem" />
</map>

<map name="Map5" id="Map5">
  <area shape="rect" coords="157,260,205,347" href="#" alt="Stigma" />
  <area shape="rect" coords="123,161,190,181" href="#" alt="Column Arm" />
  <area shape="rect" coords="123,185,187,206" href="#" alt="Anther" />
  <area shape="rect" coords="99,220,131,355" href="#" alt="Side Lobe" />
  <area shape="rect" coords="219,204,265,369" href="#" alt="Side Lobe" />
  <area shape="circle" coords="88,113,45" href="#" alt="Cilia" />
  <area shape="circle" coords="164,234,16" href="#" alt="Rostellum" />
  <area shape="rect" coords="182,68,246,160" href="#" alt="Mid Lobe" />
  <area shape="rect" coords="127,56,179,96" href="#" alt="Cleft of Mid Lobe" />
  <area shape="rect" coords="16,11,131,39" href="#" alt="Petal" />
  <area shape="rect" coords="191,13,304,44" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="16,182,64,311" href="#" alt="Petal" />
  <area shape="rect" coords="22,412,144,444" href="#" alt="Labellum" />
</map>

<map name="Map" id="Map">
  <area shape="rect" coords="135,245,160,306" href="#" alt="Ovary" />
  <area shape="rect" coords="172,106,186,131" href="#" alt="Labellum" />
  <area shape="rect" coords="139,100,151,138" href="#" alt="Column" />
  <area shape="rect" coords="141,87,151,98" href="#" alt="Anther" />
  <area shape="rect" coords="178,140,195,167" href="#" alt="Lateral Sepal Sinus" />
  <area shape="rect" coords="199,136,236,195" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="137,140,176,191" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="177,169,197,205" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="124,206,21" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="212,204,241,259" href="#" alt="Lateral Sepal Tip" />
  <area shape="rect" coords="246,256,295,283" href="#" alt="Lateral Sepal Tip" />
  <area shape="rect" coords="74,179,92,251" href="#" alt="Lateral Sepal Tip" />
  <area shape="rect" coords="23,341,42,438" href="#" alt="Lateral Sepal Tip" />
  <area shape="rect" coords="35,256,71,335" href="#" alt="Lateral Sepal Tip" />
  <area shape="rect" coords="218,64,238,98" href="#" alt="Petal" />
  <area shape="rect" coords="117,73,137,137" href="#" alt="Petal" />
  <area shape="rect" coords="193,58,216,126" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="141,66,178,76" href="#" alt="Petal" />
  <area shape="rect" coords="178,77,192,101" href="#" alt="Petal" />
  <area shape="rect" coords="151,50,192,64" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="112,156,135,176" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="119,143,135,148" href="#" alt="Dorsal Sepal Tip" />
  <area shape="circle" coords="163,218,18" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="146,317,162,438" href="#" alt="Stem" />
</map>

<map name="Map2" id="Map2">
  <area shape="circle" coords="144,280,11" href="#" alt="Anther" />
  <area shape="rect" coords="97,139,158,245" href="#" alt="Petal" />
  <area shape="rect" coords="203,245,297,299" href="#" alt="Petal" />
  <area shape="circle" coords="162,269,10" href="#" alt="Column" />
  <area shape="rect" coords="166,306,216,402" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="179,149,236,233" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="17,249,118,286" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="113,316,24" href="#" alt="Labellum" />
  <area shape="rect" coords="247,195,302,231" href="#" alt="Ovary" />
</map>
<map name="Map7" id="Map7">
  <area shape="rect" coords="117,57,151,119" href="#" alt="Dorsal Sepal" />
  <area shape="circle" coords="71,215,29" href="#" alt="Petal" />
  <area shape="rect" coords="202,135,274,167" href="#" alt="Petal" />
  <area shape="circle" coords="177,259,45" href="#" alt="Lateral Sepals" />
  <area shape="circle" coords="175,192,12" href="#" alt="Mid Lobe of Labellum" />
  <area shape="circle" coords="153,171,9" href="#" alt="Disc Calli" />
  <area shape="rect" coords="117,146,139,174" href="#" alt="Lateral Lobe of Labellum" />
  <area shape="rect" coords="171,142,184,165" href="#" alt="Lateral Lobe of Labellum" />
  <area shape="circle" coords="162,132,11" href="#" alt="Anther" />
  <area shape="circle" coords="140,135,10" href="#" alt="Column" />
  <area shape="rect" coords="119,277,133,331" href="#" alt="Ovary" />
  <area shape="rect" coords="119,356,131,440" href="#" alt="Flower Stem" />
</map>

<map name="Map8" id="Map8">
  <area shape="circle" coords="67,126,14" href="#" alt="Ovary" />
  <area shape="rect" coords="91,29,207,59" href="#" alt="Dorsal Sepal" />
  <area shape="circle" coords="209,116,30" href="#" alt="Petal" />
  <area shape="rect" coords="83,98,104,167" href="#" alt="Petal" />
  <area shape="circle" coords="145,92,13" href="#" alt="Anther" />
  <area shape="rect" coords="70,168,88,260" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="184,250,43" href="#" alt="Hair-like Cilia on the Labellum" />
  <area shape="rect" coords="172,305,202,423" href="#" alt="Labellum Tip" />
  <area shape="rect" coords="124,155,160,207" href="#" alt="Labellum Base" />
  <area shape="rect" coords="114,88,129,137" href="#" alt="Column Wing" />
  <area shape="circle" coords="164,124,13" href="#" alt="Column Wing" />
  <area shape="rect" coords="202,164,223,194" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="143,114,9" href="#" alt="Stigma" />
  <area shape="rect" coords="89,61,119,84" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="10,180,25,273" href="#" alt="Flower Stem" />
  <area shape="rect" coords="14,42,31,145" href="#" alt="Floral Bract" />
  <area shape="rect" coords="127,69,158,79" href="#" alt="Column Top" />
</map>

<map name="Map9" id="Map9">
  <area shape="rect" coords="17,91,52,139" href="#" alt="Ovary" />
  <area shape="circle" coords="180,228,19" href="#" alt="Labellum" />
  <area shape="circle" coords="165,315,23" href="#" alt="Petal" />
  <area shape="circle" coords="263,293,23" href="#" alt="Petal" />
  <area shape="rect" coords="199,307,236,370" href="#" alt="Dorsal Sepal" />
  <area shape="circle" coords="126,262,28" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="249,222,31" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="103,161,44" href="#" alt="Petals and Sepals fused together to form a tube" />
</map>

<map name="Map10" id="Map10">
  <area shape="circle" coords="168,128,8" href="#" alt="A Bug" />
  <area shape="rect" coords="63,115,113,200" href="#" alt="Labellum" />
  <area shape="circle" coords="155,171,18" href="#" alt="Calli" />
  <area shape="rect" coords="213,152,231,198" href="#" alt="Column" />
  <area shape="rect" coords="205,72,226,130" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="194,144,204,166" href="#" alt="Stigma" />
<area shape="rect" coords="176,102,187,129" href="#" alt="Anther" />
  <area shape="rect" coords="134,236,148,320" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="54,58,70,103" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="187,203,218,221" href="#" alt="Column Base" />
  <area shape="circle" coords="157,213,15" href="#" alt="Labellum Claw" />
  <area shape="rect" coords="215,237,253,309" href="#" alt="Petal" />
  <area shape="rect" coords="190,352,204,444" href="#" alt="Stem" />
  <area shape="rect" coords="183,268,196,325" href="#" alt="Ovary" />
  <area shape="rect" coords="213,316,235,345" href="#" alt="Petal" />
  <area shape="rect" coords="192,107,202,136" href="#" alt="Column Wing" />
  <area shape="rect" coords="187,59,201,88" href="#" alt="Dorsal Sepal Tip" />
</map>

<map name="Map6" id="Map6">
  <area shape="rect" coords="160,233,172,323" href="#" alt="Labellum" />
  <area shape="circle" coords="106,217,20" href="#" alt="Lateral Sepal Sinus" />
  <area shape="rect" coords="171,14,185,99" href="#" alt="Lateral Sepal Tip" />
  <area shape="circle" coords="117,187,9" href="#" alt="Labellum Tip" />
  <area shape="rect" coords="201,333,221,379" href="#" alt="Basal Appendage" />
  <area shape="rect" coords="251,312,258,366" href="#" alt="Stigma" />
  <area shape="rect" coords="236,253,251,296" href="#" alt="Column Wings" />
  <area shape="circle" coords="275,226,10" href="#" alt="Anther" />
  <area shape="rect" coords="134,170,147,282" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="188,123,216,277" href="#" alt="Petal" />
  <area shape="rect" coords="235,116,272,210" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="14,28,96,39" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="12,48,113,66" href="#" alt="Petal" />
  <area shape="rect" coords="161,125,170,171" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="262,240,278,307" href="#" alt="Column" />
  <area shape="rect" coords="174,332,187,362" href="#" alt="Labellum Base" />
  <area shape="rect" coords="122,68,162,97" href="#" alt="Petal" />
  <area shape="rect" coords="172,367,184,386" href="#" alt="Labellum Hinge" />
  <area shape="rect" coords="182,433,208,449" href="#" alt="Ovary" />
</map>

<map name="Map11" id="Map11">
  <area shape="rect" coords="113,151,156,214" href="#" alt="Labellum" />
  <area shape="rect" coords="175,200,203,257" href="#" alt="Underside of Labellum" />
<area shape="circle" coords="118,336,36" href="#" alt="Dorsal Sepal" />
  <area shape="rect" coords="55,68,91,169" href="#" alt="Lateral Sepal" />
  <area shape="circle" coords="247,180,30" href="#" alt="Lateral Sepal" />
  <area shape="rect" coords="18,223,70,248" href="#" alt="Petal" />
  <area shape="rect" coords="216,235,232,297" href="#" alt="Petal" />
  <area shape="circle" coords="126,236,15" href="#" alt="Callus" />
  <area shape="rect" coords="99,255,114,274" href="#" alt="Column Wing" />
  <area shape="rect" coords="174,277,187,294" href="#" alt="Column Wing" />
  <area shape="circle" coords="135,262,11" href="#" alt="Stigma" />
  <area shape="circle" coords="134,288,8" href="#" alt="Anther" />
</map>

