      <tr>
        <td><span class="pspagetitle"><br />
          Potato Orchids </span><br />
          <span class="tagline2">Leafless Saprophytic Orchids </span><br />
          <br />
          <br /></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td nowrap="nowrap" <div class="c4"><a href="Descriptions/Gastrodia_cunninghamii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/G_cunninghamii_flower_02.jpg" title="Potato Orchid - Gastrodia cunninghamii" alt="Gastrodia cunninghamii" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" <div class="c4"><a href="Descriptions/Gastrodia_molloyii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/G_longcolumn_eric_stem.jpg" title="Potato Orchid - Gastrodia longcolumn" alt="Gastrodia longcolumn" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" <div class="c4"><a href="Descriptions/Gastrodia_minor.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/G_minor_flowers_02.jpg" title="Small Potato Orchid - Gastrodia minor" alt="Gastrodia minor" width="164" height="243" border="0"></a></div></td>
        
        <td nowrap="nowrap" <div class="c4"><a href="Descriptions/Gastrodia_sesamoides.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/G_sesamoides_stem_01.jpg" title="Potato Orchid - Gastrodia aff sesamoides" alt="Gastrodia sesamoides" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Gastrodia_cunninghamii.html" title="Species Description"class="pslink"><span class="name"><i>Gastrodia cunninghamii </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> lowland to montane forest and common in mature pine plantations. Widespread.</p>
		<p><b>Key features:</b> knobbly outer labellum and short column deep within the tube. </p></span><br>
          <br>
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Gastrodia_molloyii.html" title="Species Description" class="pslink"><span class="name"><i>Gastrodia molloyi</span></i></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> wide range of disturbed vegetation. Throughout. <br><br></p>
		<p><b>Key features:</b> knobbly yellow to greenish flowers and long, yellow column with pollinia visible at the mouth of the tube.</p></span>
          <br>
	  </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Gastrodia_minor.html" title="Species Description" class="pslink"><span class="name"><i>Gastrodia minor </i></span></a><br>
         <br>
          <span class="description"><p><b>Habitat:</b> often grows under manuka, pines, kamahi or gorse, or amongst Spanish heather. Throughout.</p>
		<p><b>Key features:</b> few, smooth to ribbed flowers that scarcely open. </p></span><br>
          <br>
         </td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Gastrodia_sesamoides.html" title="Species Description" class="pslink"><span class="name"><i>Gastrodia sesamoides </span><br><br></a></span><br>
          
          <span class="description"<p><b>Habitat:</b> wide range of vegetation including bark in traffic islands. Lowland to montane. South to Nelson. </p>
		<p><b>Key features:</b> flowers smooth with few warts,  yellow tipped column and pollina visible at the tube mouth. </p>
          <br>
          </div></td>
      </tr>
      <tr>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
      </tr>
    </table>
    <table width="828" border="0" cellspacing="0" cellpadding="0" align="center" summary="Species Details">
      <tr>
        <td width="200" nowrap="nowrap"><div class="c6"><a href="Descriptions/Gastrodia_cooperae.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/G_longcolumn_eric_flower2.jpg" title="Potato Orchid - Gastrodia cooperi" alt="Gastrodia longcolumn black" width="164" height="243" border="0" /></a></div></td>
        <td width="16" nowrap="nowrap">&#160;</td>
        <td width="221" class="descriptiontextbox3"><div class="c5"><a href="Descriptions/Gastrodia_cooperae.html" title="Species Description" class="pslink"><span class="name"> <i>Gastrodia cooperae </span></span></a><br>
         <br>
          <span class="description"><p><b>Habitat:</b> forest and kanuka scrub. Wairarapa and Nelson. </p>
		<p><b>Key features:</b> knobbly flower with a long column and black tipped labellum visible at the tube mouth.</p></span><br>
          <br />
		</div>
        </td>

         <td width = "200" nowrap="nowrap"><div class="c6"><a href="Descriptions/Danhatchia_australis.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); 
	return false;">
		<img src="Photos/D_australis_101.jpg" title="Danhatchia Orchid - Danhatchia australis" alt="Danhatchia australis" width="164" height="243" border="0" /></a></div></td>

       <td width="16">&#160;</td>
        <td "width="221" class="descriptiontextbox3"><div class="c5"><a href="Descriptions/Danhatchia_australis.html" title="Species Description" class="pslink"><span class="name"><i>Danhatchia australis </i></span><br />
          <br />
          <span class="description"><p><b>Habitat:</b> fertile stream terraces and similar<br>
	 places, nearly always found under taraire<br>
	 or nikau. South to Nelson. </p>
	<p><b>Key features:</b> tiny size, <br>
	cryptic colouring and association<br>
	 with nikau and tariare.</p></span><br>
          <br>
	  </div></td>



        <td width="175" nowrap="nowrap" valign="bottom"><a href="Gastrodia-guide-B5-151229.pdf" target="_blank">
		<img src="Graphics/PDF_07.gif" alt="PDF" width="58" height="78" border="0" class="picture"></a>
          <p><span class="boldbody10">Guide To Gastrodia </span><br />
            <span class="small3nb">By Jeremy Rolfe </span><br />
            <span class="small3nb22">PDF Format - 1166KB </span><br />
            <a href="Gastrodia-guide-B5-151229.pdf" target="_blank">Click Here</a></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p></td>
      </tr>

      </tr>
    </table>
  </div>
  </div>
 </div>
