      <tr>
        <td width="39" valign="top">&#160;</td>
        <td width="717" class="top">
          <span class="pspagetitle">Identifying Orchids</span>
          <br />
		<p class="habitats4">Getting Started</p><br />

<p class="intro4">New Zealand has 26 genera of Orchid, consisting of over 160 species.<br>
          New species are being added to the list as various new forms are recognised and described.<br>
          Below are the main groups of orchids. They are organised as:
	 <ul class = "intro4">
	  <li>Orchids of open areas </li>
	  <li>Orchids of forest and scrub</li>
	  <li>Orchids of wet places </li>
	</ul>
	<span class = "intro4"> although the larger genera, <I>Pterostylis</I>, <I>Thelymitra</I> and <i>Corybas</i> span more than one habitat category.</span></p>
	<p><span class = "intro4">You will need to learn a few terms to follow the detailed descriptions. The term used for some New Zealand orchids are <a href= "Orchid_anatomy.html">illustrated separately</a>. 
The structure of the flowers is very variable and sometimes quite complex. Basically they have 6 tepals (3 sepals and 3 petals) 
but in most genera a petal is modified to form a labellum (or lip) and a sepal to form a hood. </span></p>
	<p class="intro4">The following photos form a path leading to individual species. Clicking on an image or more info point will lead to the next step. For a more detailed key see:</span></p>
       </td>
       <td width = "134" valign="top"></td>
      </tr>
	<TR><TD></TD><TD><div class="c3"> <a href="https://www.landcareresearch.co.nz/tools-and-resources/identification/key-to-native-orchids-of-new-zealand/">
		<img src="Graphics/logo-landcare-key.gif" alt="Flickr" width="220" height="39" border="0" /></a> </div></Td>
</tr>
       <tr>
        <td valign="top" class="cellgap">&#160;</td>
       <td valign="top" class="cellgap">
	</td>
 
      </tr>
    </table>
</div>

    <table summary="Page Content" border="0" cellspacing="0" cellpadding="2" width="900">
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><center><p class="habitats4"></p></td>
        <td><p <span class="pageheadings3">ORCHIDS OF OPEN AREAS</span></p><td></td>
        </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><a href="Sun_Orchids_Key.html" target="_self"><br />
          <img src="Photos/T_pulchella_01c.jpg" alt="Sun Orchids" width="187" height="266" border="0" class="cellspecies" /></a></td>
        <td class="smallText" valign="top"><p class="habitats4">Sun Orchids - <I>Thelymitra</I></p>
          <p class="bodyText2">Sun Orchids flowers only open in full sun (hence the name) though some only reluctantly. The plants vary little in outward size and shape each has a single hairless leaf originating near the base of the plant. It is often of limited use in identification.</P>
<p class="bodyText2">Each plant has up to twenty colourful flowers but generally there are about 10 each 1-2cm wide. Each flower has 6 similar tepals (petals and sepals), unusual in an orchid. They range in colour from white through pink to deep blue with markings that can be useful in identification. Within the tepals the column (top especially), its colour and shape and the column arms are key identification features. They can often be used for identification, even on a dead, dry flower. </P>
<p class="bodyText2"> Plants are usually found in open areas, often on clay banks or soils, but also in wet or peaty areas with low vegetation. More species are found in the Far North than elsewhere.</P>
 
<p class="bodyText2"><b>Key features:</b> many flowers with 6 star-like tepals enclosing a complex and colourful reproductive structure - the column its arms and wings.</P>
 		<h3><a href="Sun_Orchids_Key.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td class="cellspecies"><a href="Onion_n_Leek_Orchids.html" target="_self"><br />
          <img src="Photos/C_pumila_flowers_08.jpg" width="189" border="0" alt="Onion Orchids"></a></td>
        <td class="smallText" valign="top"><p class="habitats4">Onion and Leek Orchids</p>
          <p class="bodyText2">Onion and Leek orchids get their name from the tubular leaf from which the flower stem emerges,   well up the stem. In the onion orchids the leaf extends well beyond the stem but in the leeks it remains upright against the stem. Onion orchids are greenish and leeks are more colourful.</P>
          <p class="bodyText2">The flowers are quite small, closely packed, ranging from a dozen to perhaps 100 per spike.</p>
          <p class="bodyText2">They are found in open areas sometimes in wet place. <i>Microtis unifolia</i> is the most widespread. It is a particularly abundant species that can be found everywhere from native grasslands to the cracks in street pavements, and even your backyard.</p>
          <p class="bodyText2"><b>Key features:</b> Stems with many flowers emerging from a tubular leaf, perhaps at half the length of the stem or more.</p>

 		<h3><a href="Onion_n_Leek_Orchids.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td>&#160;</td>
        </tr>     
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><span class="cellspecies"><a href="Misc_Clay_Orchids.html" target="_self"><br />
          <img src="Photos/C_paludosus_23Nov04_1.jpg" width="188" border="0" alt="Beard Orchids" /></a></span></td>
       <td class="smallText" valign="top"><p class="habitats4">Other orchids of open places</p>
          <p class="bodyText2"> Three other genera are found in open places. 
		<I>Orthoceras</I> is distinguished by having several leaves and is more common in the north.</p>
	  <p class="bodyText2"><I>Waireia</I> usually has two leaves and is normally found damp alpine areas.</p>
          <p class="bodyText2">Flowers of the three beared orchids are easily recognised by their very coarsely hairy labellum but the single, often bluish leaves are easily confused those of a sun orchid.</p>
          <p class="bodyText2"><b>Key features:</b> Stout plants with a hooded dorsal sepal and a prominent labellum hanging beneath. The remaining petals differ in size or shape from the sepals.</p>
 		<h3><a href="Misc_Clay_Orchids.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
       <td>&#160;</td>
        </tr>     

         <tr>
        <td width="39" valign="top">&#160;</td>
        <td width="227" class="cellspecies"></td>
        <td width="400" height="110"><center><span class="pageheadings3">ORCHIDS OF WET PLACES</center></span></p>
        <td width="218">&#160;</td>
      </tr>
 
<! Swamp orchids 
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><span class="cellspecies"><a href="Swamp_Orchids.html" target="_self"><br />
          <img src="Photos/S_Motutangi_005.jpg" width="188" height="268" border="0" alt="Swamp Orchids" /></a></span></td>

        <td class="smallText" valign="top"><p class="habitats4">Swamp Orchids</p>
         <p class="bodyText2">Three large orchids occur in water, or areas subject regular flooding: <I>Spiranthes sinensis, Cryptostylis subulata</I> and <I>Prasophyllum hectorii</I>. They often occur amongst reeds or other wetland plants. </p>
	<p>A few other orchids from the main genera such as <I>Corybas carsei</I>, <I>Thelymitra cyanea & T. pulchella</I> or <i>Pterostylis micromega & P. paldosa</I> 
           also occur in swamps or wetlands. For those species visit their respective genera.</p>
	<p><b>Key features:</b> swamp habitat, relatively large plants with many flowers.</p>

		<h3><a href="Swamp_Orchids.html" id="Swamp_Orchids.html" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br>
         </td>
        <td>&#160;</td>
        </tr>
 
<! wet places orchids 
     <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><span class="cellspecies"><a href="Spider_Orchids_4.html" target="_self"><br />
          <img src="Photos/N_whiskers_Eric_001.jpg" width="188" height="268" border="0" alt="Wet place Orchids" /></a></span></td>

        <td class="smallText" valign="top"><p class="habitats4">Orchids of stream banks, waterfalls and seepages</p>
         <p class="bodyText2">A group of spider orchids occur in the flood zone, along stream banks or in the spray of waterfalls, often forming large colonies. They also occur in seepages and periodic wetlands. 
		Leaves of  all species are rather similar, oblong to heart-shaped and sometimes clasping the stem, often with dots along the margin. 
		The dorsal sepal is long and pointed, lateral tepals long and thin. The midlobe of the labellum is usually triangular with a pointed bottom drip tip.</p>

		<p><b>Key features:</b> streamside habitat; long lateral tepals and triangular labellum midlobe.</p>
	
		<h3><a href="Spider_Orchids_4.html" id="Swamp_Orchids.thm" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br>
         </td>
        <td>&#160;</td>
        </tr>

        <tr>
        <td width="39" valign="top">&#160;</td>
        <td width="227" class="cellspecies"></td>
        <td width="400" height="110"><center><span class="pageheadings3">FOREST ORCHIDS</center></span></p>
        <td width="218">&#160;</td>
      </tr>
  
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td class="cellspecies"><a href="Epiphytic_Orchids.html" target="_self"><br />
          <img src="Photos/E_autumnalis_2010_02.jpg" width="188" border="0" alt="Epiphytic Orchids" /></a></td>
        <td class="smallText" valign="top"><p class="habitats4">Perching Orchids </p>
          <p class="bodyText2">The perching or epiphytic orchids are the most noticeable of our native orchids. They can be seen on the branches of trees in just about any native forest remnant throughout the country.</p>
          <p class="bodyText2">None of the eight species of epiphytic orchid have large showy flowers. <I>Dendrobium cunninghamii</i> has the largest at 2 - 2.5cm, while the flowers of <i>Bulbophyllum pygmaeum</i> are only 2.5mm across. <i>Taeniophyllum</i> is very small and lacks leaves. It has only thin roots spreading on the host stem and of course flowers and later, fruit.</p>
          <p class="bodyText2">Fallen trees and branches are the best place to locate them. Several species can occasionally be found growing upon rocks and banks.</p>
	<p><b>Key features:</b> The plants vary greatly in size and flower. The main common feature is a preference for branches or rocks with a thin covering of moss or lichen so their roots can breathe freely (and it seems to use microbes to fix nitrogen). </p> 
 		<h3><a href="Epiphytic_Orchids.html" id="p7APMt1_1" class="publinks">
	<img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td>&#160;</td>
        </tr>
    <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>

        <tr>
        <td width="39" valign="top">&#160;</td>
        <td width="227" class="cellspecies"><a href="Greenhood_Orchids_key.html" target="_self"><br />
          <img src="Photos/P_banksii_flowers_01.jpg" alt="Greenhood Orchids" width="188" border="0" /></a></td>
        <td width="400" height="110"><p class="habitats4">Greenhoods - <I>Pterostylis</I></p>
          <p class="bodyText2">There are over 36 species of Greenhoods in NZ. They are mainly orchids of forest and scrub though a few are present in alpine grasslands.</p>
          <p class="bodyText2">Their leaves come in a range of shapes and sizes, with grass-like leaves being the most common. 
		In the flower, the dorsal sepal and clasping petals form a concave hood that is usually green with translucent white stripes. The sepals are fused below forming a floor to the whole (or galea).
		</p>
          <p class="bodyText2">Greenhoods possess a sensitive labellum that when touched flips backwards. That can trap an insect so it has to crawl over the stigma and past the pollen to freedom. 
		So take care not to touch or bump the flower before you get a photograph. The labellum may reset itself after half an hour.</p>
	<p><b>Key features:</b> green or sometimes brownish, hooded flowers with a touch sensitive labellum visible inside.</p>
 				<h3><a href="Greenhood_Orchids_key.html" id="p7APMt2_1" class="publinks">
		<img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> View Greenhood Orchid Groups</a></h3>
	</td>
        <td width="218">&#160;</td>
      </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top">&#160;</td>
        <td width="227" class="cellspecies"><a href="Spider_Orchids_Key.html" target="_self"><br>
          <img src="Photos/N_pollok_105.jpg" alt="Spider Orchids" width="187"  border="0" ></a></td>
         <td class="smallText" valign="top">
		<p width = "400" class="habitats4">Spider Orchids - <I>Corybas</I></p>
          	<p class="bodyText2">Spider Orchids are small plants with a single broad leaf and single flower. They are found on damp 
            banks or on the forest floor. Some species form quite dense colonies that carpet the ground.  The solitary flowers of many of the species have very long thin sepals,
	 	which give the plants their spider-like appearance. Most species flower from August to November.</p>
          <p class="bodyText2">There still a number of undescribed species but about 25 are currently recognised. Some species show a lot of variation.</p>
	<p><B>Key features:</b> flowers usually dark red, often with a green dorsal sepal capping the labellum; labellum forming a curved tube with a flared midlobe or "bib"; 
		lateral tepals often very long and at least partly upright.</p>

                       <h3><a href="Spider_Orchids_Key.html" id="p7APMt1_1" class="publinks">
				<img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" />View Spider orchid groups</a></h3></center>
                        <br />
 		</td>
        <td width="218">&#160;</td>

        </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><a href="Caladenias.html" target="_self"><br />
          <img src="Photos/P_variegatus_2008_004.jpg" alt="Caladenias" width="187" height="269" border="0" class="cellspecies" /></a></td>
        <td class="smallText" valign="top"><p class="habitats4">Ladies finger Orchids and allies</p>
          <p class="bodyText2">The Caladenias are very colourful, with four finger-like petals and sepals that give them their name.  They have a single hairy narrow leaf, with the flower stalk emerging from ground level. They have between one to three flowers that measure 10-20mm across.</p>
          
          <p class="bodyText2">Caladenia's are mainly found on poor clay soils amongst scrub and light forest. They flower during spring to early summer in most districts, although flowering can be as late as February in alpine zones.</p>
          <p class="bodyText2">The tiny <I>Adenochilus</I> has a heart-shaped leaf and is common in red beech forest. <I>Aporostylis</I> is somewhat larger than a <I>Caladenia</I> and is common in alpine scrub and bogs</p>
	<p><b>Key features: </b>4 broad white to pink or red tepals, a varied dorsal sepal and a labellum with folded wings covered between with raised calli, and a hanging midlobe.</p>
		<h3><a href="Caladenias.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td class="cellspecies"><a href="Gnat_Orchids.html" target="_self"><br />
          <img src="Photos/Acianthus_sinclairii_2012_023.jpg" width="188" height="269" border="0" alt="Gnat Orchids" /></a></td>
        <td class="smallText" valign="top"><p class="habitats4">Gnat Orchids</p>
          <p class="bodyText2">Gnat orchids are small orchids of forest and scrub. They have a single oval or heart-shaped leaf and usually 2-4 flowers. There are four known species in New Zealand. </p>
          <p class="bodyText2">The Pixie Cap Orchid (<i>Acianthus</i>) and the two virtually identical species of <i>Cyrtostylis</i> that are difficult to tell apart flower in winter or early spring. They are found in forest and amongst scrub and are not uncommon in some districts.
          <p class="bodyText2"><i>Townsonia</i> is found only in damp mossy places amongst subalpine beech forest. It is found from Mt Ruapehu southward. It is rare in the North Island, and uncommon in the South Island.</p>
	<p><b>Key features: </b> tiny delicate transluscent flowers and a single often broad heart-shaped, clasping leaf.</p>
		<h3><a href="Gnat_Orchids.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td class="cellspecies"><a href="Potato_Orchids.html" target="_self"><br />
          <img src="Photos/G_sesamoides_flowers_01.jpg" width="187" height="267" border="0" alt="Potato Orchids" /></a></td>
        <td class="smallText" valign="top"><p class="habitats4">Saprophytic Orchids</p>
          <p class="bodyText2">The saprophytic orchids are brownish and have no leaves or chlorophyll. Instead they have a symbiotic association with a fungus that is parasitic upon a host tree root. </p>
          <p class="bodyText2">The potato orchids (<i>Gastrodia</i>) have large underground tubers that send up a flowering spike which can be covered in up to 40 bell-shaped flowers. By contrast <i>Danhatchia</i> is sarcely 2 cm tall and found near tariare or nikau. </p>
          <p class="bodyText2">The potato orchids flower over summer, and have become quite common beneath exotic pine forests. They have been known to appear in traffic islands in pine-bark chips mulch...  the seeds apparently coming along with the bark.</p>
	<p><b>Key features:</b> brown leafless stems bearing many brownish, bell-shaped, pendant flowers.</p>
	<h3><a href="Potato_Orchids.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td></td>
        </tr>
       <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td><span class="cellspecies"><a href="Bird_Orchids.html" target="_self"><br />
          <img src="Photos/S_cornuta_109.jpg" width="188" height="268" border="0" alt="Bird Orchids" /></a></span></td>
        <td class="smallText" valign="top"><p class="habitats4">Bird Orchids - <i>Calochilus</I></p>
          <p class="bodyText2">Of the Bird Orchids one (<i>Chiloglottis cornuta</i>) is quite common in forest especially older pine plantations whereas two others appear to be irregular visitors from Australia 
		and unable to establish and spread. A further two are recent arrivals (in the last 30 years or so) and establishing. Established colonies can be quite large. </p>

	<p>Te flowers of this group of orchids is distinguished by a knobbly labellum surface and a very varied flower shape. Some can look like an insect. </p>

	<p><B>Key features:</b> two broad leaves, a variously ornamented labellum. Some very weird flower shapes.</p>
		<h3><a href="Bird_Orchids.html" id="p7APMt1_1" class="publinks"><img src="Graphics/Info_More.gif" class="pictureinfo" width="18" height="18" alt="" /> CLICK TO VIEW SPECIES</a></h3> <br></td>
        <td>&#160;</td>
        </tr>

        <tr>
        <td>  
          </td> 
        </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
      <tr>
      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
 

     <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>

      <tr>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        <td class="smallText" valign="top" nowrap="nowrap">&#160;</td>
        <td>&#160;</td>
        </tr>
  
    </table>

</div>
 </div>
  </div>                  
<!end content


