  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

    <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br />
          Spider Orchids</span><br />
          
          <br /></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap"><div class="c4"><a href="Spider_Orchids_1.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/A_rotundifolius_105.jpg" title="helmet orchid" alt="helmet orchid " width="164" height="243" border="0" /></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Spider_orchids_2.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_papillosum_107.jpg" title="forest Corybas" alt="forest Corybas" width="164" height="243" border="0" /></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Spider_Orchids_3.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Nematoceras_aff_trilobum_2011_006_460.jpg" title="Corbas trilobus Gp" alt="Corybas trilobus Gp" width="164" height="243" border="0" /></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Spider_Orchids_4.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_Kaitarakihi_202.jpg" title="Streamside Spiders" alt="Streamside spiders" width="164" height="243" border="0" /></a></div></td>
      </tr>
      <tr>
        <td class="descriptiontextbox"><a href="Spider_Orchids_1.html" title="Species Description"class="pslink"><span class="name">Helmet Orchids</span><br /></a><br>
          <span class="description">Orchids with dorsal sepal shorter than labellum and lateral tepals very short or hidden. Leaves oval. <br />
          <br /><br>
         </td>
        <td>&#160;</td>

        <td class="descriptiontextbox"><a href="Spider_Orchids_2.html" title="Species Description" class="pslink"><span class="name">Forest spider orchids </span></a><br /><br>
         
          <span class="description">Prominently long lateral tepals, dorsal sepal longer then the labellum, narrow, tapering to a point, sometimes very long. Leaves quite variable between 
		species but not trilobed
          <br /><br><br>
          <br /></td>
        <td>&#160;</td>

        <td class="descriptiontextbox"><a href="Spider_Orchids_3.html" title="Species Description" class="pslink"><span class="name">Trilobus group </span></a><br /><br>
           <span class="description">Leaves pominently 3-lobed, sometimes broader than long; dorsal sepal wide, blunt, sometimes notched.
          <br /><br><br>

          <br /></td>
        <td>&#160;</td>

        <td class="descriptiontextbox"><a href="Spider_Orchids_4.html" title="Species Description" class="pslink"><span class="name">Wet place spider orchids </span><br /></a><br>
          <span class="description">Spider orchids of stream banks, seepages and waterfall spray.
		Flower always above the leaf, dorsal sepal long, narrow; labellum broadly triangular with a pointed lower edge, often curled uder. <br />
          <br />
         <br /></td>
     
      </tr>
      
      <tr>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap2">&#160;</td>
      </tr>
    </table>
  </div>
  </div>
</div>
