  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

    <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br>
          Helmet Orchids</span><br>
          
          <br></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Corybas_carsei.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/A_carsei_002.jpg" title="Swamp Helmet Orchid - Corybas carsei" alt="Corybas carsei" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Corybas_rotundifolius.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/A_rotundifolius_102.jpg" title="Kauri Helmet Orchid - Corybas rotundifolius" alt="Corybas rotundifolius" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap" ><div class="c4"><a href="Descriptions/Corybas_cheesemanii.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/C_cheesemanii_101.jpg" title="Spurred Helmet Orchid - Corybas cheesemanii" alt="Corybas cheesemanii" width="164" height="243" border="0"></a></div></td>
      </tr>
      <tr>
        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Corybas_carsei.html" title="Species Description" class="pslink"><span class="name"><i>Corybas carsei </i></span></a><br>
          <br>
          <p><span class="description"><b>Habitat:</b> confined to peat bogs, particularly wire rush bogs. Rare.</span></p>
		<p><span class="description"><b>Key features:</b> peat bog habitat; lateral sepals and petals very reduced, dorsal sepal notched.</span></p>
          </td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Corybas_rotundifolius.html" title="Species Description" class="pslink"><span class="name"><i>Corybas rotundifolius </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> scrub and light forest. Te Paki to Auckland, local.</p>
		<p><b> </p>Key features:</b> short tepals and tubular labellum, dorsal sepal pale and not cleft at the tip.</span><br>
          <br>
         </div></td>
        <td>&#160;</td>


        <td width = "200" class="descriptiontextbox"><div class="c5"><a href="Descriptions/Corybas_cheesemanii.html" title="Species Description" class="pslink"><span class="name"><i>Corybas cheesemanii </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> deep litter in relatively deep shade; forest and scrub. Widespread.</p>
		<p><b>Key features:</b> apparent lack of petals or sepals, pearly to dorsal sepal, small leaf.</p></span><br>
          <br>
         </div></td>
      </tr>
      
       </table>
  
   <table width="890" border="0" align="center" summary="Page Navigation">
 
      <tr>
        <td width="300"><a href="Spider_Orchids_4.html" class="boxlink5">Wet place Spider Orchids</a></td>
        <td width="200" align="center"><a href="Spider_Orchids_Key.html" target="_self" class="boxlink5">Spider Orchid Key</a></td>
        <td width="300" align="right"><a href="Spider_Orchids_2.html" class="boxlink5" target="_self">General Forest Spider Orchids</a></td>
      </tr>
    </table>

    </div>
  </div>
</div>
