 	<tr>
	<td>><span class="pspagetitle">Corybas trilobus aggregate</span>
	<br> </td</tr></table>
  
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_trilobus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_Pygmy_201.jpg" title="Spider Orchid - Corybas pygmy" alt="Corybas pygmy" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_vitreus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_aff_trilobum_202.jpg" title="Spider Orchid - Corybas aff trilobus" alt="Corybas aff trilobus" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_walliae.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_triwhite_GP01.jpg" title="Spider Orchid - Corybas triwhite" alt="Corybas triwhite" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_sanctigeorgianus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_Trisept_202.jpg" title="Spider Orchid - Corybas trisept" alt="Corybas trisept" width="164" height="243" border="0"></a></div></td>
      </tr>

      <tr>
        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_trilobus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas trilobus</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> various forest, damp ground and moderate shade. Throughout, widespread, common. </p>
		<p><b>Key features:</b> large flower, with a very broadly trowel shaped, striped labellum with lower edge often red rimmed and split into two “ears”. </p></span>
          <br>
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_vitreus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas vitreus</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> moist forest floor, and shady manuka. Waikato and Bay of Plenty southwards.</p>
		<p><b>Key features:</b> trowel-shaped, very pale labellum midlobe and maroon outer to the wings which are pale cream within, and prominent green cap of the dorsal sepal. </p></span>
         <br>
          </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_walliae.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas walliae</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> Moist mountain beech forest and alpine fringes, Ruapehu to Nelson. Tolerates snow. </p>
		<p><b>Key features:</b> flower with almost complete lack of red on the green rather translucent labellum. </p></span><br>
          <br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_sanctigeorgianus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas sanctigeorgianus</i></span><br>
          <br>
          <span class="description"><p><b>Habitat:</b> forest, sporadic. Auckland to Waikato but recently recognised, so range unknown. </p>
		<p><b>Key features:</b> Dorsal sepal much longer than labellum, white near the aperture. </p></span><br><br>
          <br>
          </div></td>
      </tr>
      <tr>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
      </tr>
      <tr>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_hypogaeus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_hypogaeum_201.jpg" title="Spider Orchid - Corybas hypogaeus" alt="Corybas hypogaeus" width="164" height="243" border="0"></a></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_confusus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_Round Leaf_201.jpg" title="Spider Orchid - Corybas round leaf" alt="Corybas round leaf" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
         <td nowrap="nowrap"><div class="c4"><span class="c6"><a href="Descriptions/Corybas_sulcatus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_aff_sulcatum_flower_01.jpg" title="Spider Orchid - Corybas sulcatus" alt="Corybas sulcatus" width="164" height="243" border="0"></a></span></div></td>
        <td>&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_obscurus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_Darkie_201.jpg" title="Spider Orchid - Corybas darkie" alt="Corybas darkie" width="164" height="243" border="0"></a></div></td>

      </tr>
      <tr>
         <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_hypogaeus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas hypogaeus</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> beech forest where substrate is moist. Auckland southwards, Sea-level to 1500m </p>
		<p><b>Key features:</b> leaf wider than long, dorsal sepal protruding forward, longer than the labellum tube top, small flowers held well below the leaf. </p></span>
          <br>
           </div></td>
        <td>&#160;</td>



        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_confusus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas confusus</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> beech forest, shady sites beside streams. Sub-alpine to low alpine. Central North Is southwards.</p>
		<p><b>Key features:</b> dorsal sepal jutting out from labellum, very dark colouration with a hairy midlobe. </p></span><br>
          <br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

          <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_sulcatus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas sulcatus</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> shrublands and grasslands. Campbell Island, Chatham Islands scattered North and SI. </p>
		<p><b>Key features:</b> easily recognized by its ball shaped flower and mottled maroon dorsal sepal and outer labellum.  </p></span>
          <br>
         </div></td>
        <td>&#160;</td>
      <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_obscurus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas obscurus</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> seepages in elevated open beech forest,  forest fringes and subalpine grasslands. Central North Is southwards. </p>
		<p><b>Key features:</b> dark flower, dorsal sepal protruding forwards well forward of the labellum top; frequent greenish area around the labellum tube aperture. </p></span>
          <br>
          </div></td>

      </tr>
      <tr>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
        <td>&#160;</td>
        <td class="cellgap">&#160;</td>
      </tr>
 
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_hump.html" title="Species Description" 	onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/DSC06149.JPG" title="Spider Orchid - Corybas Hump" alt="Corybas hump" width="164" height="243" border="0"></a></div></td>
 
        </tr>
      <tr>

       <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_hump.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas Hump</i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> largely unknown, alpine grassland and scrub. Fiordland (Hump Ridge), Auckland and Campbell Is.</p>
		<p><b>Key features:</b> distinctive widely spaced stripes, very deep flared labellum. </p></span><br>
          <br>
          </div></td>
 	</tr>
    </table>
    <table width="890" border="0" align="center" summary="Page Navigation">
      <tr>
        <td width="300"><a href="Spider_Orchids_2.html" class="boxlink5">General Forest Spider Orchids</a></td>
        <td width="200" align="center"><a href="Spider_Orchids_Key.html" target="_self" class="boxlink5">Spider Orchid Key</a></td>
        <td width="300" align="right"><a href="Spider_Orchids_4.html" target="_self" class="boxlink5">Wet place Spider Orchids</a></td>
      </tr>
    </table>

  </div>
  </div>
</div>
