  <div id="content">
  <div id="pagetop">&nbsp;</div>
  <div id="c1">

    <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
      <tr>
        <td><span class="pspagetitle"><br>
          General Forest Spider Orchids</span><br>
          
          <br></td>
      </tr>
    </table>
    <table width="720" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>

        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_oblongus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/Singularybas_oblongus_2011_004.jpg" title="Spider Orchid - Corybas oblongus" alt="Corybas oblongus" width="164" height="243" border="0"></a></div></td>        
        <td width="30" nowrap="nowrap">&#160;</td>
	<td nowrap="nowrap"><div class="c4"><span class="c6"><a href="Descriptions/Corybas_cryptanthus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/M_cryptanthus_005.jpg" title="Hidden Spider Orchid - Corybas cryptanthus" alt="Corybas cryptanthus" width="164" height="243" border="0"></a></span></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_acuminatus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_acuminatum_201.jpg" title="Dancing Spider Orchid - Corybas acuminatus" alt="Corybas acuminatus" width="164" height="243" border="0"></a></div></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td nowrap="nowrap"><div class="c4"><a href="Descriptions/Corybas_macranthus.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		<img src="Photos/N_macranthum_2010_01b.jpg" title="Silver Back Spider Orchid - Corybas macranthus" alt="Corybas macranthus" width="164" height="243" border="0"></a></div></td>
</tr>

<tr>
        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_oblongus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas oblongus </i></span></a> <br>
          <br>
          <span class="description"><p><b>Habitat: </b> forest, clay banks, usually in moderate shade.  Throughout. </p>
		<p><b>Key features:</b> pale, frilly edge to the dark crimson, tubular labellum and the thin, undulate to smooth edged red-veined leaf.</p></span>
          <br>
          </div></td>
        <td width="30" nowrap="nowrap">&#160;</td>

        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_cryptanthus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas cryptanthus </i></span></a><br>
          <br>
          <span class="description"><p><b>Habitat:</b> deep litter and debris; often with <i>C. trilobus</i> or <i>C. cheesemanii</i>. Widespread.</p>
		<p><b>Key features:</b> white flower buried in the surface litter. </p></span><br>
          <br>
         </div></td>
        <td>&#160;</td>
 
       <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_acuminatus.html" title="Species Description" class="pslink"><div class="c5"><span class="name"><i>Corybas acuminatus</i></span></a><br>
         <br>
          <span class="description"><p><b>Habitat:</b> damp, shaded forest, ofter high rainfall. Throughout.</p>
		<p><b>Key features:</b> thin, wavy sharp-pointed leaf and flower with long point to dorsal sepal parallelled by the thin sepals.<br></p></span>
          <br>
         </div></td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Corybas_macranthus.html" title="Species Description"class="pslink"><div class="c5"><span class="name"><i>Corybas macranthus</i></span></a><br>
          <br>
        <span class="description"><p><b>Habitat:</b> dry or well drained places, high fertility; lowland to montane. Throughout.</p>
		<p><b>Key features:</b> dark widely flared labellum, flower hidden below leaf.</p></span><br>
          <br>
          </div></td>
     </tr>
     </table>

   <table width="850" border="0" align="center" cellspacing="0" cellpadding="0" summary="Bottom Links">
      <tr>
        <td width="300"><a href="Spider_Orchids_1.html" class="boxlink5">Helmet Orchids</a></td>
        <td width="200" align="center"><a href="Spider_Orchids_Key.html" target="_self" class="boxlink5">Spider Orchid Key</a></td>
        <td width="300" align="right"><a href="Spider_Orchids_3.html" target="_self" class="boxlink5">Corybas trilobus aggegate</a></td>
      </tr>
    </table>

  </div>
  </div>
 /div>
<div id="footer">
</html>
