	<tr>
	<td><span class="pspagetitle"><br>Striped or Spotted Sun Orchids </span></td>
 	</tr></table>

   <table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">

<tr>
<td>&#160;</td>

<td class= nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_nervosa.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_nervosa_flower_01.jpg" title="Spotted Sun Orchid - Thelymitra nervosa" alt="Thelymitra nervosa" width="164" height="243" border="0"></a></div>
</td>

<td>&#160;</td>
<td class= nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_ixioides.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_ixioides.jpg" title="Dotted Sun Orchid - Thelymitra ixioides" alt="Thelymitra ixioides" width="164" height="243" border="0"></a></div>
</td>

<td class="c nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_cyanea.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_cyanea_KM_001.jpg" title="Swamp Sun Orchid - Thelymitra cyanea" alt="Thelymitra cyanea" width="164" height="243" border="0"></a></div>
</td>

<td class= nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_pulchella.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_pulchella_flower_02.jpg" title="Striped Sun Orchid - Thelymitra pulchella" alt="Thelymitra pulchella" width="164" height="243" border="0"></a></div>
</td></tr>

<tr>
<td>&#160;</td>
<td width = "200" class="descriptiontextbox"><div class="c5">
<a href="Descriptions/Thelymitra_nervosa.html" title="Species Description" class="pslink"><span class="name"><i>Thelymitra nervosa</i></span></a><br>
<span class="description"><p><b>Habitat:</b> clays, dappled or full sun; scrub or forest margins. Throughout.</p>
		<p><b>Key features:</b> spotted petals, rounded column top with a warty back. </p></span></div>
<td>&#160;</td>

<td width = "200" class="descriptiontextbox"><div class="c5">
<a href="Descriptions/Thelymitra_ixioides.html" title="Species Description" class="pslink"><span class="name"><i>Thelymitra ixioides</i><span></a>
<span class="description"><p><b>Habitat:</b> well lit scrub or forest tracks, roadsides.</p></a>
		<p><b>Key features:</b> spotted petals, column top open ragged, tipped red or yellow. </p>

<td width = "200" class="descriptiontextbox"><div class="c5">
<a href="Descriptions/Thelymitra_cyanea.html" title="Species Description" class="pslink"><span class="name"><i>Thelymitra cyanea</i></spam></a><br>
<span class="description"><p><b>Habitat: </b>lowland to montane bogs and damp ground. Throughout.</p>
		<p><b>Key features:</b> striped petals, curled naked, yellow column arms. </p></span></div>
</td>

<td width = "200" class="descriptiontextbox"><div class="c5">
<a href="Descriptions/Thelymitra_pulchella.html" title="Species Description" class="pslink"><span class="name"><i>Thelymitra pulchella</i></span></a><br>
<span class="description"><p><b>Habitat:</b> sea level to montane, wetlands, peat, damp scrub. </p>
		<p><b>Key features:</b> striped petals, column arms angular with few yellow cilia. </p></span></div>
</td>
</tr>

</table>

<!original set end

</table>

    <table width="890" border="0" align="center" summary="Page Navigation">
      <tr>
        <td width="300"><a href="Sun_Orchids_4.html" class="boxlink5">Domed topped Sun Orchids</a></td>
        <td width="200" align="center"><a href="Sun_Orchids_Key.html" target="_self" class="boxlink5">Sun Orchids Key</a></td>
        <td width="300" align="right"><a href="Sun_Orchids_2.html" target="_self" class="boxlink5"> Coloured Sun Orchids</a></td>
      </tr>
     </table>

  </div>
  </div>
</div>
<div id="footer">

