
	<tr>
	<span class="pspagetitle"><br /> Sun Orchids </span><br></td>
	</tr>
<! Row figs 4 cilia white longifolia group (longifolia purpreofusca (tholiinigra) whakapa) pauciflora
	<tr>
	<td><b>column top scarcely notched, petals white or pink or blue tinged (longifolia group)<br></td>
	</tr>
</table>

<table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">
<tr>
<td width="30" nowrap="nowrap">&#160;</b> </p></td>
<td class="cellframe" nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_longifolia.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_longifolia_02_Jan_04.jpg" title="Common Sun Orchid - Thelymitra longifolia" alt="Thelymitra longifolia" width="164" height="243" border="0"></a></div>
</td>

<td width="30" nowrap="nowrap">&#160;</td>
<td class="cellframe" nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_Mangawhai.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_longifolia_01_Feb_05.jpg" title="Sun Orchid - Thelymitra aff longifolia" alt="Thelymitra aff longifolia" width="164" height="243" border="0"></a></div>
</td>

<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_tholinigra.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_tholinigra_001b.jpg" title="Sun Orchid - Thelymitra tholinigra" alt="Thelymitra tholinigra" width="164" height="243" border="0"></a></div>
</td>

<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_whakapapa.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_whakapapa_02_Jan_04.jpg" title="Sun Orchid - Thelymitra Whakapapa" alt="Thelymitra Whakapapa" width="164" height="243" border="0"></a></div>
</td>
</tr>

<tr>
<td>&#160;</td>
<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Maikuku </span><br>
<span class="botanicalname">Thelymitra longifolia </span><br>
<span class="description"><p><b>Habitat:</b> lowland to alpine; sunny clay banks and tracksides.  </p>
		<p><b>Key features:</b> column top rounded black with a then usually yellow tipped rounded margin; leaves strongly ribbed, broad, lax. </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo"> 
<a href="Descriptions/Thelymitra_longifolia.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td>&#160;</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Maikuku </span><br>
<span class="botanicalname">Thelymitra &quot;Mangawhai&quot; </span><br>
<span class="description"><p><b>Habitat:</b> clay banks. From Northland.<br><br></p>
<p><b>Key features:</b> white flowers, simultaneous flower opening, tall strongly arched white column, topped black with a yellow margin. </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo"> 
<a href="Descriptions/Thelymitra_Mangawhai.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;tholinigra&quot; </span><br>
<span class="description"><p><b>Habitat</b>: Open areas amongst scrub. Northland. </p>
		<p><b>Key features:</b> flowers white, column erect rounded at the top black with perhaps with a weakly notched, thin yellow margin </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_tholinigra.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;Whakapapa&quot; </span><br>
<span class="description"><p><b>Habitat:</b> montane scrub. Ruapehu. <br><br></p>
		<p><b>Key features:</b> flowers relatively large, white tinged pink or mauve, spurs beneath column arms. </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_whakapapa.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>
</tr>
<tr>
<td class="cellgap2">&#160;</td>
<td>&#160;</td>
<td class="cellgap2">&#160;</td>
<td>&#160;</td>
<td class="cellgap2">&#160;</td>
<td>&#160;</td>
<td class="cellgap2">&#160;</td>
</tr>

</table>

<!Row 5 figs pauciflora group flowers blue, mauve, pink (pauciflora  orange top,  sansfimbria,  comet, ahipara,  darkie,  rough leaf,  sky)
<p><b>cilia white, column deepy notched,flowers blue, mauve, pink (pauciflora group)</b><br></p>

<table width="890" border="0" align="center" summary="Page Title" cellpadding="0" cellspacing="0">

<tr>
<td>&#160; </td>
<td class="cellframe" nowrap="nowrap">
<div class="c4"><a href="Descriptions/Thelymitra_pauciflora.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_aff_pauciflora.jpg" title="Sun Orchid - Thelymitra pauciflora" alt="Thelymitra pauciflora" width="164" height="243" border="0"></a></div>
</td>

<td>&#160;</td>
<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_orange-top.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_orange_top_003.jpg" title="Sun Orchid - Thelymitra orange-top" alt="Thelymitra orange-top" width="164" height="243" border="0"></a></div>
</td>


<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_sanscilia.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_sanscillia_Hukatere_001.jpg" title="Sun Orchid - Thelymitra sanscilia" alt="Thelymitra sanscilia" width="164" height="243" border="0"></a></div>
</td>

<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_comet.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_comet_flr.jpg" title="Sun Orchid - Thelymitra comet" alt="Thelymitra comet" width="164" height="243" border="0"></a></div>
</td></tr>

<!row 5 text
<tr>
<td>&#160;</td>
<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Maikaika, Maika </span><br>
<span class="botanicalname">Thelymitra pauciflora </span><br>
<span class="description"><p><b>Habitat:</b> lowland to montane, clay, banks forest or open scrub. Widespread, common.</p>
		<p><b>Key features:</b> Column top distinctly notched, black with a strong yellow tip; leaves short, narrow, arching. </p></span>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo"> 
<a href="Descriptions/Thelymitra_pauciflora.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td>&#160;</td>
<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;orange-top&quot; </span><br>
<span class="description"><p><b>Habitat:</b> open clay areas amongst scrub. Widespread. </p>
		<p><b>Key features:</b> column top bright orange, rather than yellow, deeply cleft and the flowers intensely coloured. </p></span>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_orange-top.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra sanscilia </span><br>
<span class="description"><p><b>Habitat:</b> lowland scrub and clay areas. Northland, local. </p>
		<p><b>Key features:</b> column top yellow or orange, lack of cilia, rounded column top.</p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_sanscilia.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;comet&quot; </span><br>
<span class="description"><p><b>Habitat:</b> montane, open kanuka and manuka scrub. Kawekas, local.</p>
		<p><b>Key features:</b> column pale mauve with indeg top and yellow edge. </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_comet.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td></tr>

<!Row 6 figs - more pauciflora - ahipara,  darkie,  rough leaf,  sky
<tr>
<td width="30" nowrap="nowrap">&#160;</td>
<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_ahipara.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_ahipara2.jpg" title="Sun Orchid - Thelymitra Ahipara" alt="Thelymitra Ahipara" width="164" height="243" border="0"></a></div>
</td>

<td width="30" nowrap="nowrap">&#160;</td>
<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_darkie.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_darkie_KM_001.jpg" title="Sun Orchid - Thelymitra darkie" alt="Thelymitra darkie" width="164" height="243" border="0"></a></div>
</td>

<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_rough_leaf.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_roughleaf_KM_002.jpg" title="Sun Orchid - Thelymitra rough Leaf" alt="Thelymitra rough Leaf" width="164" height="243" border="0"></a></div>
</td>

<td nowrap="nowrap" class="cellframe">
<div class="c4"><a href="Descriptions/Thelymitra_sky.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
<img src="Photos/T_sky.jpg" title="Sun Orchid - Thelymitra sky" alt="Thelymitra sky" width="164" height="243" border="0"></a></div>
</td>
</tr>

<!Row 6 text
<tr>
<td>&#160;</td>
<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;Ahipara&quot; </span><br>
<span class="description"><p><b>Habitat:</b> wetlands, thriving in black ooze. Kaitaia northwards, local.</p>
		<p><b>Key features:</b> peaty wetland habitat, column violet, cleft at the top, column arms with crinkly cilia. </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_ahipara.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td>&#160;</td>
<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;darkie&quot; </span><br>
<span class="description"><p><b>Habitat:</b> lowland damp scrub and tracksides. Kaitaia northwards.  </p>
		<p><b>Key features:</b> dark leaves, stems and flowers, column pale mauve with dark band rounded at the top. Top with a deep, narrow cleft tipped with a broad, yellow band.</p></span>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_darkie.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;rough leaf&quot; </span><br>
<span class="description"> <p><b>Habitat:</b> lowland, scrub on clays. Northof Kaitaia, local.</p>
		<p><b>Key features:</b> leaf rough, column erect, scarcely rounded over to a broad, yellow margin, with a pair of short, broad teeth. </p></span><br>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_rough_leaf.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>

<td width ="200" class="descriptiontextbox">
<div class="c5"><span class="name">Sun Orchid </span><br>
<span class="botanicalname">Thelymitra &quot;sky&quot; </span><br>
<span class="description"><p><b>Habitat:</b> gumland scrub on clays. North of Kaitaia, local,</p>
		<p><b>Key features:</b> flowers pale blue to white, column erect, scarcely rounded over to a broad, yellow margin, with a pair of short, broad teeth. </p></span>
<br>
<img src="Graphics/Info_More.gif" alt="More" width="18" height="18" class="moreinfo">
<a href="Descriptions/Thelymitra_sky.html" title="Species Description" onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;" class="pslink">&nbsp;More Information</a> <br></div>
</td>
</tr>

<!original set end

<tr>
<td class="cellgap2">&#160;</td>
<td>&#160;</td>
<td class="cellgap2">&#160;</td>
<td>&#160;</td>
<td class="cellgap2">&#160;</td>
<td>&#160;</td>
<td class="cellgap2">&#160;</td>
</tr>
</table>
<table width="890" border="0" align="center" summary="Page Navigation">
<tr>
<td width="315">
<td width="246">
<div class="c3"><a href="Species.html" target="_self"><img src="Graphics/Photo_Index.gif" alt="Photo Section Index" width="57" height="65" border="0"></a></div>
</td>
<td width="315">
</td>


</tr>
    </table>

  </div>
  </div>
</div>
