      <tr>
        <td><span class="pspagetitle"><br />
          Swamp Orchids </span><br />
          <br />
          <br /></td>
      </tr>
    </table>
    <table width="890" cellspacing="0" cellpadding="0" border="0" align="center" summary="Species Details">
      <tr>
        <td><a href="Descriptions/Spiranthes_australis.html" title="Species Description">
		<img src="Photos/S_NZ_102.jpg" title="Spiranthes novae-zeelandiae" alt="Spiranthes novae-zeelandiae" width="164" height="243" border="0" /></a></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td><a href="Descriptions/Waireia_stenopetala.html" title="Species Description">
		<img src="Photos/W_stenopetala_108.jpg" title="Beak Orchid - Waireia stenopetala" alt="Waireia stenopetala" width="164" height="243" border="0" /></a></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td><a href="Descriptions/Cryptostylis_subulata.html" title="Species Description">
		<img src="Photos/C_subulata _001.jpg" title="Tongue Orchid - Cryptostylis subulata" alt="Cryptostylis subulata" width="164" height="243" border="0" /></a></td>
        <td width="30" nowrap="nowrap">&#160;</td>
        <td><a href="Descriptions/Prasophyllum_hectorii.html" title="Species Description">
		<img src="Photos/P_hectori_flower_01.jpg" title="Swamp Leek Orchid - Prasophyllum hectorii" alt="Prasophyllum hectorii" width="164" height="243" border="0" /></a></td>

       </tr>
      <tr>
       <td width = "200" class="descriptiontextbox">
	<a href="Descriptions/Spiranthes_australis.html" title="Species Description" class="pslink">
	<span class="name"><i>Spiranthes novae-zeelandiae</i></span></a>
         
      <span class="description"><p><b>Habitat:</b> boggy areas or wet compacted shingle among grasses, often seasonal wetlands.</p>
	<p><b>Key features:</b> wetland plant, many spirally arranged tubular pink flowers, scarcely opening. </p></span>
	</td>
      <td>&#160;</td>

      <td width = "200" class="descriptiontextbox2">
     	<a href="Descriptions/Waireia_stenopetala.html" title="Species Description" class="pslink">
	<span class="name"><i>Waireia stenopetala</i></span></a><br>
         
      <span class="description"><p><b>Habitat:</b> damp alpine or montane scrub and herbfields. Ruapehu southwards.<br><br></p>
	
	<p><b>Key features:</b> 2 narrow leaves, alpine wetland habitat. </p> </span><br><br><br>
      </td>
      <td>&#160;</td>

      <td width = "200" class="descriptiontextbox"><a href="Descriptions/Cryptostylis_subulata.html" title="Species Description" class="pslink">
	<span class="name"><i>Cryptostylis subulata</i></span></a><br>

       <span class="description"><p><b>Habitat:</b> supported by surrounding reeds or rushes, usually in wetlands. Northland.</p>
	 <p><br><b>Key features:</b> of wetlands, distinctive flower on tall plants with many broad leaves. </p></span>
        </td>
        <td>&#160;</td>

        <td width = "200" class="descriptiontextbox"><a href="Descriptions/Prasophyllum_hectorii.html" class="pslink">
	  <span class="name"><i>Prasophyllum hectorii</i></span></a><br>

          <span class="description"><p><b>Habitat:</b> sedgelands, in flowing or still water, often floating, its roots barely touching the peat </p>
		<p><b>Key features:</b> very wet habitat, white, frilled labellum. </p></span><br>
	</td>
      </tr>
      <tr>
        <td nowrap="nowrap"><div class="c5"></div></td>
        <td>&#160;</td>
        <td>&#160;</td>
        <td>&#160;</td>
        <td>&#160;</td>
        <td>&#160;</td>
        <td>&#160;</td>
      </tr>
      <tr>
      </tr>

<!Body end
      </tr>
    </table>
  </div>
  </div>
</div>
