<center>

            <H1>THREATENED AND UNCOMMON NEW ZEALAND ORCHIDS </H1><br>
            <span class="small">Based on de Lange et al. (2009) - New Zealand Journal of Botany 47: 61-96 </span></p>
          <center>
          <table width="750" border="0" cellspacing="0" cellpadding="0" summary="Threatened and Uncommon Species">
           <tr>
          <td>&nbsp;</td>
          </tr>
          <tr>
           <td>
             <div id="p7TPM_1" class="p7TPM12">
              <div id="p7TPMtabs_1" class="p7TPMtabs">
                <div id="p7TPMtvp_1" class="p7TPMtabs_viewport">
                   <div id="p7TPMtgw_1" class="p7TPMtabs_wrapper">
                    <ul class="p7TPM_tabs">
                      <li class="tpmfirst"><a href="#p7TPMc_1_1" id="p7TPMtab1_1">Taxonomically Determinate</a></li>
                      <li class="tpmlast"><a href="#p7TPMc_1_2" id="p7TPMtab1_2">Taxonomically Indeterminate</a></li>
                   </ul>
                </div>
             </div>
           </div>
           <div class="p7TPMcwrapper">
             <div id="p7TPMcvp_1" class="p7TPM_vp">
               <div id="p7TPMpw_1" class="p7TPM_slide_wrapper">
                 <div id="p7TPMw1_1" class="p7TPM_panel">
                  <div id="p7TPMc1_1" class="p7TPM_content">

                     <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="TAXONOMICALLY DETERMINATE">
                      <tr>
                        <td width="31%">&nbsp;</td>
                       <td width="5%">&nbsp;</td>
                       <td width="30%">&nbsp;</td>
                       <td width="5%">&nbsp;</td>
                       <td width="29%">&nbsp;</td>
                     </tr>
                     <tr>
                       <td valign="top"><span class="boldbody3">(1) THREATENED </span><br />
                        <span class="boldbody4">Nationally Critical </span><br />
                        <span class="speciesnames3">Corybas carsei<br />
                           Pterostylis puberula<br />
                           Pterostylis micromega<br />
                           Caleana minor<br />
                           Thelymitra matthewsii<br />
                           Thelymitra sanscilia</span><br /><br />
                           <span class="boldbody4">Nationally Endangered </span><br />
                           <span class="speciesnames3">Pterostylis tasmanica<br />
                            Pterostylis irwinii </span><br /><br />
                         <span class="boldbody4">Nationally Vulnerable </span><br />
                         <span class="speciesnames3">Spiranthes novae-zelandiae </span></td>
                      <td valign="middle"><img src="Graphics/greydot.gif" height="520" width="1" alt="" /></td>
                      <td valign="top"><span class="boldbody3">(2) AT RISK </span><br />
                         <span class="boldbody4">Declining </span><br />
                         <span class="speciesnames3">Pterostylis paludosa</span><br /> <br />
                         <span class="boldbody4">Relict </span><br />
                         <span class="speciesnames3">Prasophyllum hectorii</span><br /><br />
                         <span class="boldbody4">Naturally Uncommon </span><br />
                         <span class="speciesnames3">Bulbophyllum tuberculatum<br />
                          Corybas cryptanthus<br />
                         Corybas rotundifolius<br />
                         Caladenia alata<br />
                         Caladenia atradenia<br />
                         Caladenia bartlettii<br />
                         Caladenia variegata<br />
                         Calochilus paludosus<br />
                         Calochilus robertsonii<br />
                         Genoplesium nudum<br />
                         Genoplesium pumilum<br />
                         Danhatchia australis<br />
                         Drymoanthus flavus<br />
                         Pterostylis tristis<br />
                         Pterostylis auriculata<br />
                         Pterostylis cernua<br />
                         Pterostylis foliata<br />
                         Pterostylis humilis<br />
                         Pterostylis porrecta<br />
                         Pterostylis silvicultrix<br />
                         Thelymitra formosa<br />
                         Townsonia deflexa </span><br /></td>
                       <td valign="middle"><img src="Graphics/greydot.gif" height="520" width="1" alt="" /></td>
                       <td valign="top"><span class="boldbody3">(3) NON-RESIDENT NATIVE </span><br />
                        <span class="boldbody4">Vagrant </span><br />
                        <span class="speciesnames3">Chiloglottis formicifera<br />
                        Chiloglottis trapeziformis<br />
                        Chiloglottis valida<br />
                        Pterostylis nutans<br /></span><br />
                      <span class="boldbody4">Coloniser </span><br />
                      <span class="speciesnames3">Cryptostylis subulata<br />
                        Thelymitra malvina</span>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p><img src="Graphics/greydot.gif" width="160" height="1" alt="" /></p>
                        <p>&nbsp;</p>
                        <p><span class="boldbody3">(4) DATA DEFICIENT </span><br />
                        <span class="speciesnames3">Corybas papillosa<br />
                          Corybas rivularis<br /></span></p></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>

            <div id="p7TPMw1_2" class="p7TPM_panel">
              <div id="p7TPMc1_2" class="p7TPM_content">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" summary="TAXONOMICALLY INDETERMINATE">
                  <tr>
                    <td width="65%">&nbsp;</td>
                    <td width="2%">&nbsp;</td>
                    <td width="33%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td><span class="boldbody3">(1) THREATENED</span><br />
                      <span class="boldbody4">Nationally Critical </span><br />
                      <span class="speciesnames3">Calochilus aff. herbaceus (CHR 65825; Kaimaumau)<br />
                        Microtis aff. unifolia (CHR 532775; Fox)<br />
                        Corybas aff. rivularis (AK 251833; Kaitarakihi)<br />
                        Thelymitra (a) (WELT 79140; Ahipara)<br />
                        </span><br />
                      <br />
                      <span class="boldbody3">(2) AT RISK </span><br />
                      <span class="boldbody4">Naturally Uncommon </span><br />
                      <span class="speciesnames3">Corybas aff. rivularis (CHR 534752; &quot;rest area&quot;)<br />
                        Corybas aff. sulcatus (CHR 300648; Chatham Islands)<br />
                        Corybas aff. trilobus (CHR 534742; Trotters Gorge)<br />
                        Corybas aff. trilobus (CHR 537604; Rimutaka)<br />
                        Pterostylis aff. graminea (CHR 513330; &quot;sphagnum&quot;)<br />
                        Thelymitra (c) (CHR 518036; &quot;rough leaf&quot;)<br />
                        Thelymitra ixioides (AK 251348; New Zealand)</span><br />
                      <br />
                      <br />
                      <span class="boldbody4">(3) DATA DEFICIENT </span><br />
                      <span class="speciesnames3">Spiranthes aff. novae-zealandiae (CHR 518297; Motutangi)<br />
                        Thelymitra aff. longifolia (CHR 537579; Whakapapa)</span><br /></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">P7_opTPM('p7TPM_1',0,0,2,300,0,1,0,1,0,1,0,1,5000);</script></div>
   </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  </table>
</center>

</center>
